
@font-face {
    font-family: "Gotham";
    src: url("Gotham-Bold.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("Gotham-Light.otf");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("Gotham-Medium.otf");
    font-weight: normal;
    font-style: normal;
}