@import url('../font/font.css');
@import url('../font/font-awesome/css/font-awesome.min.css');
* {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-image: url('img/bg.png');
}

#top-wrap {
    position: relative;
    height: 300px;
    width: 100%;
}

.logo {
    background: #FF9933;
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 500px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    text-align: right;
    text-transform: uppercase;

    font-size: 50px;

    letter-spacing: 3px;
    line-height: 1.4;
}

#logo-shadow1 {
    background: #CC7A29;
    top: 8px;
    left: 8px;
}

#logo-shadow2 {
    background: #8F551D;
    top: 16px;
    left: 16px;
}

.logo a {
    position: absolute;
    color: #444;
    right: 5%;
    top: 25%;
}

.logo a span {
    color: white;
    margin-left: -17px;
}

.logo a:hover span {
    text-shadow: 0 0 10px white
}

.quote {
    position: absolute;
    height: 160px;
    left: 700px;
    right: 5%;

}

.quote div {
    position: absolute;
    top: 30px;
    text-shadow: 0 0 3px white;
    font-family: "source_sans_pro";
    font-size: 24px;
    color: #FCFCFC;
    line-height: 30px;
}

.quote .author {
    position: relative;
    font-family: "kaushan_script";
    text-align: right;
}

.page-wrap {
    position: relative;
    background-color: #d6d5d5;
    width: 90%;
    min-height: 300px;
    height: auto;
    left: 5%;
    top: -100px;
    /* there shouldn't be z-index for page-wrap! */
}

#page-wrap-shadow1 {
    position: absolute;
    background: #969595;
    width: 100%;
    height: 100%;
    top: 8px;
    left: 8px;
    z-index: -1;
}

#page-wrap-shadow2 {
    position: absolute;
    background: #696868;
    width: 100%;
    height: 100%;
    top: 16px;
    left: 16px;
    z-index: -2;
}

.main-nav {
    position: relative;
    /*background: yellow;*/
    height: 75px;
    width: 100%;
    border-bottom: 6px solid #444;
}

.main-nav ul {
    position: absolute;
    /*background: purple;*/
    width: 80%;
    left: 10%;
    height: 50px;
    top: auto;
    bottom: 0;
}

.main-nav li {
    position: relative;
    background: green;
    display: inline;
    float: left;
    width: 20%;
    height: 100%;
    box-shadow: 8px 0 25px 3px rgba(0, 0, 0, 0.3);
}

.main-nav li a {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #afafaf;
    color: #545353;
    text-align: center;
    font-family: source_sans_pro;
    font-weight: bold;
    font-size: 28px;
    line-height: 50px;
    vertical-align: middle;
    transition: background 0.3s ease;
    -webkit-transition: background 0.3s ease;

    border-left: #696868 solid 3px;
}

.main-nav li a:hover, .main-nav li a:focus {
    background: #696868;
    color: aliceblue;
}

.main-wrap {
    position: relative;
    height: auto;
    width: 100%;
    background: url('img/witewall_3.png') repeat;
    font-size: 16px;
    padding: 20px 20px 20px;
    color: rgb(51, 51, 51);
}

.left-wrap {
    position: relative;
    /*background: pink;*/
    float: left;
    width: 66.6%;
    padding-right: 30px;

}

.paper-wrap, .user-box {
    background: white;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 0 0 20px 0;
    position: relative;

    font-family: "whitneycondensed";
    font-weight: normal;
    box-sizing: border-box;
}

.forum-main-header {
    font-size: 48px;
}

.meta {
    font-size: 14px;
    color: #999;
    font-family: source_sans_pro;
}

.meta>span {
    margin: 0 5px 0 0;
}

.meta>span:after {
    margin: 0 0 0 5px;
    content: "|";
    font-weight: normal;
    color: #ccc;
}

.meta>span:last-child:after {
    content: "";
}

.right-wrap {
    position: relative;
    /*background: indigo;*/
    float: right;
    width: 33.3%;
}

.user-box {
    font-family: source_sans_pro;
}

.user-box h4 {
    font-size: 24px;
    font-family: "whitneycondensed";
    margin: 0 0 5px 0;
}

.user-box p {
    margin: 0 0 16px 0;
    font-size: 18px;
}

.user-box .user-buttons {
    line-height: 2.8;
    font-size: 20px;
    margin-right: 30px;
    text-align: center;
}

.button {
    display: inline-block;
    border: 0;
    border-radius: 0;
    outline: 0;
    font-family: Gotham;
    font-size: medium;
    color: white;
    white-space: nowrap;
    padding: 9px 16px;
    line-height: 1.4;
    position: relative;
}

.blue-button {
    cursor: pointer;
    background: #4e68c7;
    box-shadow: 1px 0px 1px #203891, 0px 1px 1px #3852b1, 2px 1px 1px #203891, 1px 2px 1px #3852b1, 3px 2px 1px #203891, 2px 3px 1px #3852b1, 4px 3px 1px #203891, 3px 4px 1px #3852b1, 5px 4px 1px #203891, 4px 5px 1px #3852b1, 6px 5px 1px #203891;
    margin: 0 14px 0;
    top: -5px;
    position: relative;
    width: 100%;
}

.blue-button:hover {
    background: #3E539F;
}

.new-topic-button {
    background: #799972;
    display: block;
    position: relative;
    left: -6px;
    text-align: center;
    margin: 0 0 15px 0;
    box-shadow: 1px 0px 1px #4a6045, 0px 1px 1px #617d5b, 2px 1px 1px #4a6045, 1px 2px 1px #617d5b, 3px 2px 1px #4a6045, 2px 3px 1px #617d5b, 4px 3px 1px #4a6045, 3px 4px 1px #617d5b, 5px 4px 1px #4a6045, 4px 5px 1px #617d5b, 6px 5px 1px #4a6045;
}

#login-box {
    display: none;
    border: 0;
    background: white;
    color: rgb(51, 51, 51);
    padding: 11px 10px;
    position: fixed;
    height: 400px;
    width: 320px;
    box-shadow: 0 0 10px black;

    top: 50%;
    left: 50%;
    margin-left: -160px;
    margin-top: -200px;

    box-sizing: border-box;
}

#login-box .content {
    position: relative;
    padding: 30px 20px 20px;
    background: #d6d5d5;
    height: 100%;
    width: 100%;
    font-family: Gotham;

}

#login-box h1 {
    font-family: "whitneycondensed";
}

#login-box form {
    margin: 15px 0px;
    line-height: 22px;
    display: block;
}

#login-box input, #login-box label {
    display: block;
    line-height: 1.4;

}

#login-box label {
    font-size: 18px;
    margin: 5px 5px;
}

#login-box input {
    width: 90%;
    font-size: 20px;
    font-family: source_sans_pro;
    font-weight: bold;
}

#login-box .blue-button {
    position: relative;
    margin-top: 30px;
    left:-10px;
    width: 88%;
    line-height: normal;
    font-size: 26px;
}


#register-box {
    display: none;
    border: 0;
    background: white;
    color: rgb(51, 51, 51);
    padding: 11px 10px;
    position: fixed;
    height: 550px;
    width: 320px;
    box-shadow: 0 0 10px black;

    top: 50%;
    left: 50%;
    margin-left: -160px;
    margin-top: -225px;

    box-sizing: border-box;
}

#register-box .content {
    position: relative;
    padding: 30px 20px 20px;
    background: #d6d5d5;
    height: 100%;
    width: 100%;
    font-family: Gotham;

}

#register-box h1 {
    font-family: "whitneycondensed";
}

#register-box form {
    margin: 15px 0px;
    line-height: 22px;
    display: block;
}

#register-box input, #register-box label {
    display: block;
    line-height: 1.4;

}

#register-box label {
    font-size: 18px;
    margin: 5px 5px;
}

#register-box input {
    width: 90%;
    font-size: 20px;
    font-family: source_sans_pro;
    font-weight: bold;
}

#register-box .blue-button {
    position: relative;
    margin-top: 30px;
    left:-10px;
    width: 88%;
    line-height: normal;
    font-size: 26px;
}

input[type='search'], input[type='url'], input[type='email'], input[type='text'], input[type='password'], textarea {
    border: 0;
    border-radius: 0;
    box-shadow: 0;
    border-top: 6px solid #eee;
    border-left: 6px solid #ccc;
    font-family: monospace;
    padding: 6px 0 6px 6px;
    outline: 0;
    word-break: normal;
    -webkit-appearance: none;
}

.error_msg {
    color: red;
    margin: 10px;
    font-family: Gotham;
    font-size: 13px;
}

.blockOverlay {
    border: none;
    margin: 0px; padding: 0px;
    width: 100%; height: 100%;
    top: 0px; left: 0px;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
    cursor: wait;
    position: fixed;
    display:none;
}

.welcome {
    margin-bottom: 20px;
}