.custom-checkbox>[class*="icon"] {
    visibility:hidden
}

.custom-checkbox.active>[class*="icon"]{
    visibility:visible
}

.tabbable.custom-tabs>.tab-content h4 {
    padding: 10px;
    border-bottom: 1px solid #dcdcdc;
    text-shadow: 0 1px 1px #fff;
}

.tabbable {
    background: white;
    padding: 30px;
    box-shadow: 0 0 10px grey;
}

body {
    background: url('../img/backgrounds/mooning.png');
}

