
.subheader {
    border-bottom: solid rgba(0, 0, 0, 0.3) 1px;
    margin-bottom: 10px;
}

.biography table {
    font-size: 0.9em;
}

.biography table td {
}

.right-description {
    background: rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.connect-btns {
    margin-top: 20px;
}

.connect-btns li {
    list-style: none;
    margin-top: 5px;
}

.cke_textarea_inline {
    padding: 10px;
    height: 200px;
    overflow: auto;
    border: 1px solid gray;
    -webkit-appearance: textfield;
}

.history {
    border-top: rgba(0, 0, 0, 0.2) solid 1px;
    padding-top: 20px;
}

.tag-preview li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;

}

.tag-preview a {
    background: #c4dae9;
    padding: 3px;
    box-shadow: 0 0 1px blue;
    font-size: 0.9em;
    color: #4a6b82;
}

.tag-preview a:hover {
    color: blue;
}

.profile-headline {
    word-spacing: 0.3em;
    padding-bottom: 7px;
    border-bottom: rgba(0,0,0,0.1) solid 1px;
}

.profile-headline .numbers {
    color: darkgrey;
    font-family: Oxygen, sans-serif;
    font-size: 1.3em;
}

.preview li {
    list-style: none;
    margin-bottom: 5px;
}

.topic li .numbers {
    padding: 0 7px 0 7px;
    background: gold;
    margin-right: 5px;
}
.article ul li {
    position: relative;
    left: -10px;
}
.article ul li:before {
    content: "\f0e5";
    font-family: FontAwesome;
    font-size: 1.8em;
    position: relative;
    top: 5px;
    left: 10px;
}

.article ul li .numbers {
    font-size: 0.8em;
    position: relative;
    margin-right: 5px;
    right: 8px;
}

.comment ul li {
    position: relative;
    left: -10px;
}
.comment ul li:before {
    content: "\f087";
    font-family: FontAwesome;
    font-size: 2.0em;
    position: relative;
    top: 5px;
    left: 10px;
}

.comment ul li .numbers {
    font-size: 0.8em;
    position: relative;
    margin-right: 5px;
    right: 8px;
    bottom: -1px;
}