tr.group-row {
    font-size : 16px;
    font-weight : bold;
    background-color : #efefef;
}

tr.group-row td.group-name-column:hover {
    cursor : pointer;
}

td.checkbox-column {
    padding : 10px;
}
