{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "forum/index.css" %}">
{% endblock %}
{% block title %}Forum{% endblock %}
{% block content %}
    <div class="forum-list-main-content">
        <div class="discussion-tab">
            <h1 class="forum-main-header">
                All Discussions
            </h1>
        </div>
        {% if topic_list %}
            <div class="datalist-discussion">
                <ul>
                    {% for topic in topic_list %}
                        <li>
                            <div class="item-content">
                                <h2>
                                    <a href="{% url 'forum:detail' topic.id %}">{{ topic.title }}</a>
                                </h2>
                                <div class="meta">
                                    <span class="post-count">{{ topic.post_cnt }}
                                        post{{ topic.post_cnt|pluralize }}
                                    </span>
                                    <span class="last-post-by">
                                        Last updated by {{ topic.last_editor }}
                                    </span>
                                    <span class="last-post-date">
                                        {{ topic.last_edited_time|date:"P M d" }}
                                    </span>
                                    <span class="topic-category">
                                        {{ topic.category }}
                                    </span>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

    </div>
{% endblock %}