{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "forum/new_topic.css" %}">
{% endblock %}
{% block title %}Topic: {{ topic.title }}{% endblock %}
{% block content %}
    <div class="new-topic-content">
        <div class="header-container">
            <h1 class="new-topic-main-header">
                Create A New Topic
            </h1>
        </div>
        <div class="new-topic-form-wrap">

        </div>
    </div>
{% endblock %}