{% extends "forum/forum_base.html" %}
{% load staticfiles %}
{% load access_to_settings %}

{% block forum_head %}
    <link rel="stylesheet" type="text/css" href="{% static "forum/topic_detail.css" %}">
    <script>

        $(function () {
            CKEDITOR.replace('id_content');

            $('.reply-submit-btn').click(function () {
                var post_id = $(this).attr('post_id');
                var txt = CKEDITOR.instances['reply_textarea_' + post_id].getData();

                var url_mask = "{% url 'forum:post_reply' post_id=12345 %}"
                        .replace(/12345/, post_id);
                $.ajax({
                    type: "POST",
                    url: url_mask,
                    data: {
                        'content': txt
                    }
                }).done(function (msg) {
                            document.location = "{% url 'forum:topic_detail' topic_id=topic.id %}";
                            return false;
                        });
            });

            $('.forum-reply-btn').click(function(){
                cform = $(this).siblings(".reply-box");
                cform.toggle(1000);
            })
        })
    </script>
{% endblock %}
{% block forum_content %}
    <h2>Forum > {{ topic.category.title }}
        > {{ topic.title }}</h2>

    <div class="author-info meta">
        Started by <a href="{{ first_post.author.get_profile.get_absolute_url }}">
        {{ first_post.author.get_profile.nickname }}</a>
        on {{ first_post.date_published|date:"M d, Y" }}
    </div>
    <div class="span8">
        <ul class="post-list">
            {% for post in topic.post_set.all %}
                <div class="post " post_id="post_{{ post.id }}">

                    <div class="row-fluid">
                        <div class="span2">
                            <img class="portrait" src="{{ post.author.get_profile.thumbnail.url }}">

                            <div class="post-author">
                                <a href="{{ post.author.get_profile.get_absolute_url }}">
                                    {{ post.author.get_profile.nickname }}
                                </a>
                            </div>

                            <div class="post-date meta">
                                {{ post.date_published|date:"P" }} <br>
                                {{ post.date_published|date:"M d, Y" }}
                            </div>
                        </div>
                        <div class="span10">

                            <div class="post-content">
                                {{ post.content|safe }}
                            </div>
                            <div class="reply-box" style="display:none;">
                                <form method="POST"> {% csrf_token %}
                                    <textarea class="ckeditor" id="reply_textarea_{{ post.id }}"></textarea>
                                    <input post_id="{{ post.id }}" class="reply-submit-btn btn btn-success"
                                           type="submit" value="Submit">
                                </form>
                            </div>
                            <a id="pop-up-reply-box" class="forum-reply-btn btn btn-primary pull-right">
                                <i class="icon-long-arrow-left"></i> Reply
                            </a>
                        </div>
                    </div>


                    <div class="reply-list">
                        {% for reply in post.reply_set.all %}
                            <div class="post row-fluid reply-wrapper">
                                <div class="span2">
                                    <img class="portrait" src="{{ reply.author.get_profile.thumbnail.url }}">

                                    <div class="post-author">
                                        <a href="{{ reply.author.get_profile.get_absolute_url }}">
                                            {{ reply.author.get_profile.nickname }}
                                        </a>
                                    </div>

                                    <div class="post-date meta">
                                        {{ reply.date_published|date:"P" }} <br>
                                        {{ reply.date_published|date:"M d, Y" }}
                                    </div>
                                </div>
                                <div class="span10">
                                    <div class="post-content">
                                        {{ reply.content|safe }}
                                    </div>
                                </div>

                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </ul>

        <div class="post-box">
            <fieldset>
                <legend>Follow up</legend>

                <div class="content-tip meta">
                    Tip: try paste formatted content directly!
                </div>
                <form method="POST" action="{% url 'forum:new_post' topic_id=topic.id %}"> {% csrf_token %}
                    <div class="error_msg">
                        {{ post_form.non_field_errors }}
                    </div>
                    <div class="textarea-div">
                        {{ post_form.content }}
                    </div>

                    <input id="post-submit-btn" class="btn btn-success
                    btn-large" type="submit" value="submit">
                </form>
            </fieldset>
        </div>

    </div> <!-- span8 -->




{% endblock %}