{% extends "forum/forum_base.html" %}
{% load staticfiles %}
{% load access_to_settings %}

{% block forum_head %}
    <link rel="stylesheet" type="text/css" href="{% static "forum/topic_detail.css" %}">
    <script>

        $(function () {
            {% for post in posts %}
                CKEDITOR.replace('reply_textarea_{{ post.id }}', {
                    customConfig: '{% static 'ckeditor4.2/config.js' %}'
                });
            {% endfor %}

            CKEDITOR.replace('id_content', {
                customConfig: '{% static 'ckeditor4.2/config_intermediate.js' %}'
            });

            $('.reply-submit-btn').click(function () {
                var post_id = $(this).attr('post_id');
                var txt = CKEDITOR.instances['reply_textarea_' + post_id].getData();

                var url_mask = "{% url 'forum:post_reply' post_id=12345 %}"
                        .replace(/12345/, post_id);
                $.ajax({
                    type: "POST",
                    url: url_mask,
                    data: {
                        'content': txt
                    }
                }).done(function (msg) {
                            document.location = "{% url 'forum:topic_detail' topic_id=topic.id %}";
                            return false;
                        });
            });


            $('#subscribe_btn').click(function () {
                $.ajax({
                    type: "GET",
                    url: '{% url 'network:subscribe_topic' %}',
                    data: {
                        'topic_id': {{ topic.id }}
                    }
                }).done(function () {
                            $("#subscribe_btn").hide(1000);
                            $('#unsubscribe_btn').show(1000);
                            return false;
                        })
            })
            $('#unsubscribe_btn').click(function () {
                $.ajax({
                    type: "GET",
                    url: '{% url 'network:unsubscribe_topic' %}',
                    data: {
                        'topic_id': {{ topic.id }}
                    }
                }).done(function () {
                            $('#unsubscribe_btn').hide(1000);
                            $('#subscribe_btn').show(1000);
                            return false;
                        })
            })

            $('.forum-reply-btn').click(function () {
                var cform = $(this).parent().siblings(".reply-box");
                cform.slideToggle(700);
            })
            $('.reply-list').hide();
            $('.reply-toggle-btn').click(function () {
                var reply_list = $(this).parent().siblings('.reply-list');
                reply_list.slideToggle(700);
                var icon = $(this).find('i').attr('class');
                if (icon.search(/up/) != -1)
                    icon = icon.replace(/up/, 'down');
                else
                    icon = icon.replace(/down/, 'up');
                $(this).find('i').attr('class', icon);
            });
        })
    </script>
{% endblock %}
{% block forum_content %}
    <h2>Forum > {{ topic.category.title }}
        > {{ topic.title }}</h2>

    <div class="author-info meta">
        Started by <a href="{{ first_post.author.get_profile.get_absolute_url }}">
        {{ first_post.author.get_profile.nickname }}</a>
        on {{ first_post.date_published|date:"P M d, Y" }}
        {% if user.is_authenticated %}
            <span>
                <button id="subscribe_btn" class="btn btn-info {% if has_subscribed %}hide{% endif %}">Subscribe
                </button>
                <button id="unsubscribe_btn" class="btn btn-warning {% if has_subscribed %}{% else %}hide{% endif %}">
                    Unsubscribe
                </button>
        </span>
        {% endif %}
    </div>
    <div class="span8">
        <ul class="post-list">
            {% for post in posts %}
                <div class="post " post_id="post_{{ post.id }}">

                    <div class="row-fluid">
                        <div class="span2">
                            <img class="portrait" src="{{ post.author.get_profile.thumbnail.url }}">

                            <div class="post-author">
                                <a href="{{ post.author.get_profile.get_absolute_url }}">
                                    {{ post.author.get_profile.nickname }}
                                </a>
                            </div>

                            <div class="post-date meta">
                                {{ post.date_published|date:"P" }} <br>
                                {{ post.date_published|date:"M d, Y" }}
                            </div>
                        </div>
                        <div class="span10">

                            <div class="post-content">
                                {{ post.content|safe }}
                            </div>

                            <div class="btn-group pull-right" style="margin-top: 10px;">
                                {% if post.reply_set.all.count %}
                                    <a class="reply-toggle-btn btn btn-warning">
                                        show reply(<strong>{{ post.reply_set.all.count }}</strong>) <i
                                            class="icon-level-down"></i>
                                    </a>
                                {% else %}
                                    <a class="btn btn-warning disabled">
                                    no reply yet
                                    </a>
                                {% endif %}
                                <a id="pop-up-reply-box" class="forum-reply-btn btn btn-primary">
                                    <i class="icon-long-arrow-left"></i> reply
                                </a>
                            </div>
                            <div style="clear:both"></div>


                            <div class="reply-list span12">
                                {% for reply in post.reply_set.all %}
                                    <div class="row-fluid reply-wrapper">
                                        <div class="span1">
                                            <img class="portrait" src="{{ reply.author.get_profile.thumbnail.url }}">
                                        </div>
                                        <div class="span11">
                                            <div class="">
                                                <div class="reply-author-info">
                                                    <a href="{{ reply.author.get_profile.get_absolute_url }}">
                                                        {{ reply.author.get_profile.nickname }}
                                                    </a>
                                                    <span class="date">
                                                        &nbsp; on {{ reply.date_published|date:"P M d, Y" }}
                                                    </span>
                                                </div>

                                                <div class="reply-content">
                                                    {{ reply.content|safe }}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                {% endfor %}
                            </div>

                            <div class="reply-box span12" style="display:none;">
                                <form method="POST"> {% csrf_token %}
                                    <textarea id="reply_textarea_{{ post.id }}"></textarea>
                                    <input post_id="{{ post.id }}" class="reply-submit-btn btn btn-success"
                                           type="submit" value="Submit">
                                </form>
                            </div>

                        </div>
                    </div>


                </div>
            {% endfor %}
        </ul>

          <div class="pagination pull-right">
            <ul>
                {% if posts.has_previous %}
                    <li><a href="?page={{ posts.previous_page_number }}">«</a></li>
                {% else %}
                    <li class="disabled"><a>«</a></li>
                {% endif %}

                </li>

                <li>
                    <a href="#">
                        Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                    </a>
                </li>

                {% if posts.has_next %}
                    <li><a href="?page={{ posts.next_page_number }}">»</a></li>
                {% else %}
                    <li class="disabled"><a>»</a></li>
                {% endif %}
            </ul>
        </div>
        <div style="clear:both"></div>

        <div class="post-box">
            <fieldset>
                <legend>Follow up</legend>

                <div class="content-tip meta">
                    Tip: try paste formatted content directly!
                </div>
                <form method="POST" action="{% url 'forum:new_post' topic_id=topic.id %}"> {% csrf_token %}
                    <div class="error_msg">
                        {{ post_form.non_field_errors }}
                    </div>
                    <div class="textarea-div">
                        {{ post_form.content }}
                    </div>

                    <input id="post-submit-btn" class="btn btn-success
                    btn-large" type="submit" value="submit">
                </form>
            </fieldset>
        </div>

    </div> <!-- span8 -->




{% endblock %}