{% extends "forum/forum_base.html" %}
{% load staticfiles %}
{% block forum_head %}
    <link rel="stylesheet" type="text/css" href="{% static "forum/topic_index.css" %}">
{% endblock %}
{% block forum_content %}
    <h2>
        Forum > {{ category_title }}
    </h2>

    <div class="span2"></div>
    <div class="span8">
        {% if topic_list %}
            <ul class="topic-list">
                {% for topic in topic_list %}
                    <li>
                        <h3>
                            <a class="topic-title"
                               href="{% url 'forum:topic_detail' topic_id=topic.id %}">
                                {{ topic.title }}
                            </a>
                        </h3>

                        <div class="meta">
                                            <span>{{ topic.post_cnt }}
                                                post{{ topic.post_cnt|pluralize }}
                                            </span>
                                            <span>
                                                <i class="icon-edit"></i>
                                                <a href="{% url 'accounts:view_profile' user_id=topic.last_editor_id %}">
                                                {{ topic.last_editor }}
                                                </a>
                                            </span>
                                            <span>
                                                <i class="icon-time"></i>
                                                {{ topic.last_edited_time|date:"P, M d" }}
                                            </span>
                                            <span>
                                                <i class="icon-tag"></i>
                                                {{ topic.category }}
                                            </span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

{% endblock %}