<!DOCTYPE html>
<html>
<head>
    <title>Change Password</title>
</head>
<body>
    <form method="POST" action="{% url 'xadmin:chpsw_doupdate' %}">
        {% csrf_token %}
        <div>
            <label> Enter your new password here </label>
        </div>
        <input type="password" name="password" />
        <input type="text" name="username" style="display:none" value="{{ usr }}" />
        <input type="text" name="hash_key" style="display:none" value="{{ key }}" />
        <input type="submit" />
    </form>
</body>
</html>
