{% extends "xadmin/xadmin_base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}
    Change password
{% endblock %}
{% block xadmin_head %}
    <link rel="stylesheet" type="text/css" href="{% static "xadmin/change_password.css" %}">
{% endblock %}
{% block xadmin_content %}
    <h2 class="xadmin-headline">
        <i class="icon-lock"></i>
        <span>Change Password</span>
    </h2>
    <form method="POST" action="{% url 'xadmin:chpsw_doupdate' %}">
        {% csrf_token %}
        {{ form.errors }}
        <div class="row-fluid">
            <div class="span6 offset 3">
                <label for="id_password">Enter your new password here</label>
                {{ form.password|add_class:"input-block-level" }}
                <label for="id_re_password">Enter the above password again</label>
                {{ form.re_password|add_class:"input-block-level" }}
                <input type="text" name="username" style="display:none" value="{{ usr }}"/>
                <input type="text" name="hash_key" style="display:none" value="{{ key }}"/>
                <input class="btn btn-large btn-warning" type="submit" value="Change Now">
            </div>
        </div>
    </form>
{% endblock %}
