{% extends "xadmin/xadmin_base.html" %}
{% load staticfiles %}
{% block title %}
    Inbox
{% endblock %}
{% block xadmin_head %}
    <link rel="stylesheet" type="text/css" href="{% static "xadmin/inbox.css" %}">

    <script>
        $(function () {
            $('td.subject-column').click(function () {
                var url_mask = "{% url 'xadmin:show_msg_in_inbox' msg_id=12345 %}"
                        .replace(/12345/, $(this).parent().attr('msg_id'));
                document.location = url_mask;
            })

            $('td.checkbox-column').click(function () {
                msg_id = $(this).parent().attr('msg_id');
                $.get("{% url 'xadmin:on_checkbox' %}", {msg_id: msg_id});

                ck = $(this).find(":checkbox");
                ck.attr("checked",!ck.attr("checked"));
            })
            
            function select_all_flag(flag) {
                ck_list = $("#message-table").find(":checkbox");
                for(var i=0;i < ck_list.length;i ++) {
                    ck_list[i].checked = flag;
                }
                ck_list.trigger('change');
            }

            $('#select-all-btn').click(function() {
                select_all_flag(true);
                url = $(this).attr("href");
                $.get(url);
            });

            $('#unselect-all-btn').click(function() {
                select_all_flag(false);
                url = $(this).attr("href");
                $.get(url);
            });
            
            function mark_flag(flag) {
                $('#message-table').find(":checkbox").each(function() {
                    cur = $(this);
                    if(cur.attr("checked")) {
                        td = cur.parent().parent().find("td.important-column");
                        if(flag) {
                            td.html("<i class='icon-star'></i>");
                        } else {
                            td.html("<i class='icon-star-empty'></i>");
                        }
                    }
                });
            }

            $('#mark-btn').click(function() {
                mark_flag(true);
                url = $(this).attr('href');
                $.get(url);
            });


            $('#unmark-btn').click(function() {
                mark_flag(false);
                url = $(this).attr('href');
                $.get(url);
            });
        })
    </script>
{% endblock %}
{% block xadmin_content %}
    <div>
        <h2><i class="icon-inbox"></i>
            Inbox</h2>

        <div class="container">
            <div class="navbar">
                <div class="btn-toolbar pull-left">
                    <div class="btn-group">
                        <button class="btn" href="{% url 'xadmin:ckbox_select_all' msgs.number %}" id="select-all-btn">Select All</button>
                        <button class="btn" href="{% url 'xadmin:ckbox_unselect_all' msgs.number %}" id="unselect-all-btn">Unselect All</button>
                    </div>
                    <div class="btn-group">
                        <a class="btn" href="{% url 'xadmin:ckbox_remove' %}">Remove</a>
                        <button class="btn" href="{% url 'xadmin:ckbox_mark' %}" id="mark-btn">Mark</a>
                        <button class="btn" href="{% url 'xadmin:ckbox_unmark' %}" id="unmark-btn">Unmark</a>
                    </div>
                </div>

                <div class="pagination pull-right">
                    <ul>
                        {% if msgs.has_previous %}
                            <li><a href="?page={{ msgs.previous_page_number }}">«</a></li>
                        {% else %}
                            <li class="disabled"><a>«</a></li>
                        {% endif %}

                        </li>

                        <li>
                            <a href="#">
                                Page {{ msgs.number }} of {{ msgs.paginator.num_pages }}
                            </a>
                        </li>

                        {% if msgs.has_next %}
                            <li><a href="?page={{ msgs.next_page_number }}">»</a></li>
                        {% else %}
                            <li class="disabled"><a>»</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <table class="table table-hover" id="message-table">
                <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Flag</th>
                    <th>Sent by</th>
                    <th>Subject</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                {% for msg in msgs %}
                    <tr class="inbox-row
                        {% if msg.unread %}row-bold{% endif %}"
                        msg_id="{{ msg.id }}">
                        <td class="checkbox-column">
                            <input type="checkbox"
                                    {% if msg.checked %}
                                   checked="checked"
                                    {% endif %}/>
                        </td>
                        <td class="important-column">
                            {% if msg.important %}
                            <i class="icon-star"></i>
                            {% else %}
                            <i class="icon-star-empty"></i>
                            {% endif %}
                        </td>
                        <td>{{ msg.sender.get_profile.nickname }}</td>
                        <td class="subject-column">{{ msg.subject }}</td>
                        <td>{{ msg.date_sent|date:"M d, Y" }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>{% endblock %}
