{% extends "xadmin/xadmin_base.html" %}
{% load staticfiles %}
{% block xadmin_head %}
    <link rel="stylesheet" type="text/css" href="{% static "pages/new_article.css" %}">

    <script>
        $(function () {
            CKEDITOR.replace('id_content');
            $("#id_tags").tagit({
                singleField: true,
                singleFieldNode: $("#id_tags")
            });

        })
    </script>
{% endblock %}
{% block title %}Create A New Article{% endblock %}
{% block xadmin_content %}
    <div class="new-article-content">
        <div class="header-container">
            <h1 class="new-article-main-header">
                Create A New Article
            </h1>
        </div>
        <div class="new-article-form-wrap">
            <form method="POST" action=""> {% csrf_token %}
                <div class="error_msg">
                    {{ form.non_field_errors }}
                </div>
                <div class="fieldWrapper">
                    <label class="new-article-label" for="id_category">Tag(s)</label>

                    {{ form.tags }}
                </div>
                <div class="fieldWrapper">
                    <label class="new-article-label" for="id_title">Title</label>

                    <div class="new-article-title">
                        {{ form.title }}
                    </div>

                </div>
                <div class="fieldWrapper">
                    <label class="new-article-label" for="id_content">Content</label>

                    <div class="content-tip meta">
                        Tip: try paste formatted content directly!
                    </div>
                    <div class="textarea-div">
                        {{ form.content }}
                    </div>
                </div>
                <p>
                    <input class="button blue-button new-article-submit"
                           id="new_article_sumbit_btn" type="submit" value="submit">
                </p>
            </form>
        </div>
    </div>
{% endblock %}