{% extends "xadmin/xadmin_base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block xadmin_head %}
    <link rel="stylesheet" type="text/css" href="{% static "forum/new_topic.css" %}">
    <script>
        $(function () {
            CKEDITOR.replace('id_content', {
                customConfig: '{% static 'ckeditor4.2/config_intermediate.js' %}'
            });
        })
    </script>
{% endblock %}
{% block title %}Create A New Topic{% endblock %}
{% block xadmin_content %}
    <h2 class="xadmin-headline">
        <i class="icon-plus-sign"></i>
        <span>Create A New Topic</span>
    </h2>
    <div class="span8">
        <form method="POST" action=""> {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="row-fluid">
                <label class="label-headline" for="id_category">Select a category</label>

                {{ form.category|add_class:"input-block-level category-selectbox" }}
                <label class="label-headline" for="id_title">Title</label>
                {{ form.title.errors }}
                {{ form.title|add_class:"input-block-level" }}

                <label class="label-headline" for="id_content">Content</label>
                {{ form.content.errors }}
                {{ form.content }}
                <input id="publish_btn" class="btn btn-warning btn-large"
                       type="submit" value="Publish">
            </div>
        </form>
    </div>

{% endblock %}