
<!DOCTYPE html>
<html lang="en-us" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <meta name="description" content="">
  <meta name="author" content="">
  
  <meta name="robots" content="NONE,NOARCHIVE" />
  <title>continent List | Django Xadmin</title>
  
  <link href="/static/xadmin/vendor/bootstrap/bootstrap.css" type="text/css" media="screen" rel="stylesheet" />
<link href="/static/xadmin/vendor/bootstrap/bootstrap-responsive.css" type="text/css" media="screen" rel="stylesheet" />
  
  <link rel="stylesheet" type="text/css" id="site-theme" href="/static/xadmin/css/themes/bootstrap-xadmin.css" />
  
  <link href="/static/xadmin/vendor/font-awesome/css/font-awesome.css" type="text/css" media="screen" rel="stylesheet" />
<link href="/static/xadmin/css/xadmin.main.css" type="text/css" media="screen" rel="stylesheet" />
<link href="/static/xadmin/css/xadmin.responsive.css" type="text/css" media="screen" rel="stylesheet" />
  <link href="/static/xadmin/css/xadmin.modal.css" type="text/css" media="screen" rel="stylesheet" />
<link href="/static/xadmin/css/xadmin.form.css" type="text/css" media="screen" rel="stylesheet" />
  
<style type="text/css">
  .btn-toolbar{margin-top: 0;}
  #content-block.full-content{margin-left: 0;}
</style>

  
  <script type="text/javascript">
    window.__admin_media_prefix__ = "/static/xadmin/";
    window.__admin_path_prefix__ = "/";
  </script>
  

<script type="text/javascript" src="/jsi18n/"></script>

  
</head>
<body class="change-list">
  
  <!-- Header -->
  <div id="top-nav" class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand" href="#">Django Xadmin</a>
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-menu.nav-collapse">
          <span class="icon-list"></span>
        </a>
        

<a class="btn btn-navbar" data-toggle="collapse" data-target=".search-menu.nav-collapse">
  <span class="icon-search"></span>
</a>
<a class="btn btn-navbar" data-toggle="collapse" data-target=".add-menu.nav-collapse">
  <span class="icon-plus"></span>
</a>


        <div class="nav-menu nav-collapse collapse">
          <ul class="nav pull-right">
            
              <li class="dropdown">
                <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                <strong>Welcome, admin</strong> <b class="caret"></b></a>
                <ul id="g-account-menu" class="dropdown-menu" role="menu">
                  <li><a href="/account/password/"><i class="icon-key"></i> Change Password</a></li>
                </ul>
              </li>
            
            <li><a href="/logout/">Log out</a></li>
          </ul>
        </div>
        


<div class="search-menu nav-collapse collapse">
  <form method="get" class="navbar-search pull-left" id="g-search">
    <div class="input-append">
      <input name="_q_" class="span2" type="text">
      <div class="btn-group">
        <button class="btn dropdown-toggle" data-toggle="dropdown">
          <i class="icon-search"></i>
          Search
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
        
            <li><a data-action="/hosts/host/"><i class="icon-search"></i> Search Host</a></li>
        
            <li><a data-action="/hosts/idc/"><i class="icon-search"></i> Search IDC</a></li>
        
        </ul>
      </div>
    </div>
  </form> 
</div>


<div class="add-menu nav-collapse collapse">
  <ul class="nav pull-right">
    <li class="dropdown g-add">
      <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
      <i class="icon-plus icon-white"></i> Add <b class="caret"></b></a>
      <ul id="g-add-menu" class="dropdown-menu" role="menu">
        
            <li><a href="/auth/group/add/"><i class="icon-plus"></i> Add Group</a></li>
        
            <li><a href="/xadmin/userwidget/add/"><i class="icon-plus"></i> Add User Widget</a></li>
        
            <li><a href="/xadmin/usersettings/add/"><i class="icon-plus"></i> Add User Setting</a></li>
        
            <li><a href="/auth/permission/add/"><i class="icon-plus"></i> Add Permission</a></li>
        
            <li><a href="/hosts/hostgroup/add/"><i class="icon-plus"></i> Add Host Group</a></li>
        
            <li><a href="/hosts/host/add/"><i class="icon-plus"></i> Add Host</a></li>
        
            <li><a href="/app/kitchensink/add/"><i class="icon-plus"></i> Add Kitchen sink</a></li>
        
            <li><a href="/auth/user/add/"><i class="icon-plus"></i> Add User</a></li>
        
            <li><a href="/xadmin/bookmark/add/"><i class="icon-plus"></i> Add Bookmark</a></li>
        
            <li><a href="/hosts/idc/add/"><i class="icon-plus"></i> Add IDC</a></li>
        
            <li><a href="/hosts/accessrecord/add/"><i class="icon-plus"></i> Add Access Record</a></li>
        
            <li><a href="/reversion/revision/add/"><i class="icon-plus"></i> Add Revision</a></li>
        
            <li><a href="/app/country/add/"><i class="icon-plus"></i> Add Country</a></li>
        
            <li><a href="/app/continent/add/"><i class="icon-plus"></i> Add Continent</a></li>
        
            <li><a href="/hosts/maintainlog/add/"><i class="icon-plus"></i> Add Maintain Log</a></li>
        
            <li><a href="/reversion/version/add/"><i class="icon-plus"></i> Add Version</a></li>
        
      </ul>
    </li>
  </ul>
</div>


<div class="nav-menu nav-collapse collapse">
  <ul class="nav pull-right">
    <li class="dropdown g-theme">
      <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
      <i class="icon-magic icon-white"></i> Themes <b class="caret"></b></a>
      <ul id="g-theme-menu" class="dropdown-menu" role="menu">
        
            <li class="active"><a data-css-href="/static/xadmin/css/themes/bootstrap-xadmin.css">Default Theme</a></li>
        
            <li><a data-css-href="http://bootswatch.com/amelia/bootstrap.min.css">Amelia</a></li>
        
            <li><a data-css-href="http://bootswatch.com/cerulean/bootstrap.min.css">Cerulean</a></li>
        
            <li><a data-css-href="http://bootswatch.com/cosmo/bootstrap.min.css">Cosmo</a></li>
        
            <li><a data-css-href="http://bootswatch.com/cyborg/bootstrap.min.css">Cyborg</a></li>
        
            <li><a data-css-href="http://bootswatch.com/flatly/bootstrap.min.css">Flatly</a></li>
        
            <li><a data-css-href="http://bootswatch.com/journal/bootstrap.min.css">Journal</a></li>
        
            <li><a data-css-href="http://bootswatch.com/readable/bootstrap.min.css">Readable</a></li>
        
            <li><a data-css-href="http://bootswatch.com/simplex/bootstrap.min.css">Simplex</a></li>
        
            <li><a data-css-href="http://bootswatch.com/slate/bootstrap.min.css">Slate</a></li>
        
            <li><a data-css-href="http://bootswatch.com/spacelab/bootstrap.min.css">Spacelab</a></li>
        
            <li><a data-css-href="http://bootswatch.com/spruce/bootstrap.min.css">Spruce</a></li>
        
            <li><a data-css-href="http://bootswatch.com/superhero/bootstrap.min.css">Superhero</a></li>
        
            <li><a data-css-href="http://bootswatch.com/united/bootstrap.min.css">United</a></li>
        
      </ul>
    </li>
  </ul>
</div>
      </div>
    </div>
  </div>
  <div id="body-content" class="container-fluid">
    <div class="row-fluid">
      <div id="left-side" class="span2 hidden-phone">
      
        
          <div class="well sidebar-nav">
            <ul class="nav nav-list hidden-tablet">
              
                <li class="nav-header  active">
                  
                  App
                  
                </li>
                
                <li class="active">
                  <a href="/app/continent/">
                  <i class="icon-globe"></i>
                  Continents</span></a>
                </li>
                
                <li>
                  <a href="/app/country/">
                  <i class="icon-flag"></i>
                  Countries</span></a>
                </li>
                
                <li>
                  <a href="/app/kitchensink/">
                  <i class="icon-briefcase"></i>
                  Kitchen sinks</span></a>
                </li>
                
              
                <li class="nav-header ">
                  
                  Auth
                  
                </li>
                
                <li>
                  <a href="/auth/group/">
                  <i class="icon-group"></i>
                  Groups</span></a>
                </li>
                
                <li>
                  <a href="/auth/permission/">
                  <i class="icon-lock"></i>
                  Permissions</span></a>
                </li>
                
                <li>
                  <a href="/auth/user/">
                  <i class="icon-user"></i>
                  Users</span></a>
                </li>
                
              
                <li class="nav-header ">
                  
                  Hosts
                  
                </li>
                
                <li>
                  <a href="/hosts/accessrecord/">
                  <i class="icon-caret-right"></i>
                  Access Record</span></a>
                </li>
                
                <li>
                  <a href="/hosts/host/">
                  <i class="icon-laptop"></i>
                  Host</span></a>
                </li>
                
                <li>
                  <a href="/hosts/hostgroup/">
                  <i class="icon-caret-right"></i>
                  Host Group</span></a>
                </li>
                
                <li>
                  <a href="/hosts/idc/">
                  <i class="icon-cloud"></i>
                  IDC</span></a>
                </li>
                
                <li>
                  <a href="/hosts/maintainlog/">
                  <i class="icon-caret-right"></i>
                  Maintain Log</span></a>
                </li>
                
              
                <li class="nav-header ">
                  
                  Reversion
                  
                </li>
                
                <li>
                  <a href="/reversion/revision/">
                  <i class="icon-exchange"></i>
                  Revisions</span></a>
                </li>
                
                <li>
                  <a href="/reversion/version/">
                  <i class="icon-file"></i>
                  Versions</span></a>
                </li>
                
              
                <li class="nav-header ">
                  
                  Xadmin
                  
                </li>
                
                <li>
                  <a href="/xadmin/bookmark/">
                  <i class="icon-book"></i>
                  Bookmarks</span></a>
                </li>
                
                <li>
                  <a href="/xadmin/usersettings/">
                  <i class="icon-cog"></i>
                  User Settings</span></a>
                </li>
                
                <li>
                  <a href="/xadmin/userwidget/">
                  <i class="icon-dashboard"></i>
                  User Widgets</span></a>
                </li>
                
              
            
            </ul>
            <ul class="nav nav-list visible-tablet">
              
                <li class="app_menu dropdown-submenu  active">
                  <a href="#" class="section">
                    <i class="icon-briefcase"></i>
                    
                  </a><hr/>
                  <ul class="dropdown-menu">
                    
                    <li class="active">
                      <a href="/app/continent/">
                      <i class="icon-globe"></i>
                      Continents</span></a>
                    </li>
                    
                    <li>
                      <a href="/app/country/">
                      <i class="icon-flag"></i>
                      Countries</span></a>
                    </li>
                    
                    <li>
                      <a href="/app/kitchensink/">
                      <i class="icon-briefcase"></i>
                      Kitchen sinks</span></a>
                    </li>
                    
                  </ul>
                </li>
              
                <li class="app_menu dropdown-submenu ">
                  <a href="#" class="section">
                    <i class="icon-group"></i>
                    
                  </a><hr/>
                  <ul class="dropdown-menu">
                    
                    <li>
                      <a href="/auth/group/">
                      <i class="icon-group"></i>
                      Groups</span></a>
                    </li>
                    
                    <li>
                      <a href="/auth/permission/">
                      <i class="icon-lock"></i>
                      Permissions</span></a>
                    </li>
                    
                    <li>
                      <a href="/auth/user/">
                      <i class="icon-user"></i>
                      Users</span></a>
                    </li>
                    
                  </ul>
                </li>
              
                <li class="app_menu dropdown-submenu ">
                  <a href="#" class="section">
                    <i class="icon-laptop"></i>
                    
                  </a><hr/>
                  <ul class="dropdown-menu">
                    
                    <li>
                      <a href="/hosts/accessrecord/">
                      <i class="icon-caret-right"></i>
                      Access Record</span></a>
                    </li>
                    
                    <li>
                      <a href="/hosts/host/">
                      <i class="icon-laptop"></i>
                      Host</span></a>
                    </li>
                    
                    <li>
                      <a href="/hosts/hostgroup/">
                      <i class="icon-caret-right"></i>
                      Host Group</span></a>
                    </li>
                    
                    <li>
                      <a href="/hosts/idc/">
                      <i class="icon-cloud"></i>
                      IDC</span></a>
                    </li>
                    
                    <li>
                      <a href="/hosts/maintainlog/">
                      <i class="icon-caret-right"></i>
                      Maintain Log</span></a>
                    </li>
                    
                  </ul>
                </li>
              
                <li class="app_menu dropdown-submenu ">
                  <a href="#" class="section">
                    <i class="icon-exchange"></i>
                    
                  </a><hr/>
                  <ul class="dropdown-menu">
                    
                    <li>
                      <a href="/reversion/revision/">
                      <i class="icon-exchange"></i>
                      Revisions</span></a>
                    </li>
                    
                    <li>
                      <a href="/reversion/version/">
                      <i class="icon-file"></i>
                      Versions</span></a>
                    </li>
                    
                  </ul>
                </li>
              
                <li class="app_menu dropdown-submenu ">
                  <a href="#" class="section">
                    <i class="icon-dashboard"></i>
                    
                  </a><hr/>
                  <ul class="dropdown-menu">
                    
                    <li>
                      <a href="/xadmin/bookmark/">
                      <i class="icon-book"></i>
                      Bookmarks</span></a>
                    </li>
                    
                    <li>
                      <a href="/xadmin/usersettings/">
                      <i class="icon-cog"></i>
                      User Settings</span></a>
                    </li>
                    
                    <li>
                      <a href="/xadmin/userwidget/">
                      <i class="icon-dashboard"></i>
                      User Widgets</span></a>
                    </li>
                    
                  </ul>
                </li>
              
            
            </ul>
          </div><!--/.well -->
        
      
      </div><!--/span-->

      <div id="content-block" class="span10">

        
<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active">Continents</li>
</ul>


        
            
        

        
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#"><i class="icon-globe"></i> continent</a>
        <ul class="nav">
          
<li class="dropdown bookmarks">
  <a id="drop-bookmark" title="Bookmark" class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
  <i class="icon-book"></i> Bookmark
  <b class="caret"></b></a>
  <ul id="bookmark-menu" class="dropdown-menu" role="menu">
    
    
    <li><a class="mute">No Bookmarks</a></li>
    
    
  </ul>
</li>
        </ul>
          

<form class="navbar-search" id="changelist-search" action="" method="get">
  <div class="input-append">
    <ul class="dropdown-menu pull-right">
      <li><a href="">Search By User</a></li>
    </ul>
    <input id="searchbar" type="text" name="_q_" value="" placeholder="Search continent">
    
    <button class="btn btn-primary" type="submit"><i class="icon-search icon-white"></i></button>
    
  </div>
</form>
<script type="text/javascript">document.getElementById("searchbar").focus();</script>

        <div class="btn-group pull-right">
          
          
              <a href="/app/continent/add/" class="btn btn-primary"><i class="icon-plus icon-white"></i> Add continent</a>
          
        </div>
      </div>
    </div>

    <div class="btn-toolbar pull-right">
      
<div class="btn-group export">
  <a class="dropdown-toggle btn btn-small" data-toggle="dropdown" href="#">
    <i class="icon-share"></i> Export <b class="caret"></b>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    
      <li class="dropdown-submenu pull-left"><a><i class="icon-circle-arrow-down"></i> Export Excel</a>
      <div class="popover left dropdown-menu">
        <div class="arrow"></div>
        <div class="popover-inner">
          <h3 class="popover-title">
            Export Excel
          </h3>
          <div class="popover-content">
            <form method="get" action="">
              <input type="hidden" name="_do_" value="export"/>
              <input type="hidden" name="export_type" value="xls">
                <label class="checkbox">
                  
                  <input type="checkbox" name="export_xls_header" checked="checked" value="on"> Export with table header.
                  
                  
                  
                  
                </label>
                <label class="checkbox">
                  <input type="checkbox" name="all" value="on"> Export all datas.
                </label>
                <button class="btn btn-success" type="submit">Export</button>
            </form>
          </div>
        </div>
      </div>
      </li>
    
      <li class="dropdown-submenu pull-left"><a><i class="icon-circle-arrow-down"></i> Export CSV</a>
      <div class="popover left dropdown-menu">
        <div class="arrow"></div>
        <div class="popover-inner">
          <h3 class="popover-title">
            Export CSV
          </h3>
          <div class="popover-content">
            <form method="get" action="">
              <input type="hidden" name="_do_" value="export"/>
              <input type="hidden" name="export_type" value="csv">
                <label class="checkbox">
                  
                  
                  <input type="checkbox" name="export_csv_header" checked="checked" value="on"> Export with table header.
                  
                  
                  
                </label>
                <label class="checkbox">
                  <input type="checkbox" name="all" value="on"> Export all datas.
                </label>
                <button class="btn btn-success" type="submit">Export</button>
            </form>
          </div>
        </div>
      </div>
      </li>
    
      <li class="dropdown-submenu pull-left"><a><i class="icon-circle-arrow-down"></i> Export XML</a>
      <div class="popover left dropdown-menu">
        <div class="arrow"></div>
        <div class="popover-inner">
          <h3 class="popover-title">
            Export XML
          </h3>
          <div class="popover-content">
            <form method="get" action="">
              <input type="hidden" name="_do_" value="export"/>
              <input type="hidden" name="export_type" value="xml">
                <label class="checkbox">
                  
                  
                  
                  <input type="checkbox" name="export_xml_format" checked="checked" value="on"> Export with format.
                  
                  
                </label>
                <label class="checkbox">
                  <input type="checkbox" name="all" value="on"> Export all datas.
                </label>
                <button class="btn btn-success" type="submit">Export</button>
            </form>
          </div>
        </div>
      </div>
      </li>
    
      <li class="dropdown-submenu pull-left"><a><i class="icon-circle-arrow-down"></i> Export JSON</a>
      <div class="popover left dropdown-menu">
        <div class="arrow"></div>
        <div class="popover-inner">
          <h3 class="popover-title">
            Export JSON
          </h3>
          <div class="popover-content">
            <form method="get" action="">
              <input type="hidden" name="_do_" value="export"/>
              <input type="hidden" name="export_type" value="json">
                <label class="checkbox">
                  
                  
                  
                  
                  <input type="checkbox" name="export_json_format" checked="checked" value="on"> Export with format.
                  
                </label>
                <label class="checkbox">
                  <input type="checkbox" name="all" value="on"> Export all datas.
                </label>
                <button class="btn btn-success" type="submit">Export</button>
            </form>
          </div>
        </div>
      </div>
      </li>
    
  </ul>
</div>
      <div class="btn-group">
        <a class="dropdown-toggle btn btn-small" data-toggle="dropdown" href="#">
          <i class="icon-list-alt"></i> Select Columes <b class="caret"></b>
        </a>
        <ul class="dropdown-menu model_fields" role="menu" aria-labelledby="dLabel">
          <li><a href="?"><i class="icon-refresh"></i> Restore Selected</a></li>
          <li class="divider"></li>
          
          <li><a href="?_cols=id.name">
            <i class="icon-blank"></i>
            ID</a></li>
          
          <li><a href="?_cols=">
            <i class="icon-check"></i>
            name</a></li>
          
          <li><a href="?_cols=name.order">
            <i class="icon-blank"></i>
            order</a></li>
          
        </ul>
      </div>
      <div class="btn-group layout-btns" data-toggle="buttons-radio">
        <button type="button" class="btn btn-small layout-normal active"><i class="icon-th-large"></i></button>
        <button type="button" class="btn btn-small layout-condensed"><i class="icon-th"></i></button>
        
      </div>
      <div class="btn-group layout-btns" data-toggle="buttons-checkbox">
        <button type="button" class="btn btn-small layout-full"><i class="icon-fullscreen"></i></button>
        
      </div>
      
    </div>

    <div class="pagination pagination-small pagination-left">
      
<ul>
  <li><span><b>1</b> continent</span></li>
  
  
</ul>

    </div>
    
    <form id="changelist-form" action="" method="post"><input type='hidden' name='csrfmiddlewaretoken' value='WQ6Ct14G46X6koVPbcgSjWbYaFfCwMYU' />
    
    <div class="results">
    
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th scope="col" class="action-checkbox-column">
            
            
              <input type="checkbox" id="action-toggle" />
            
          </th>
          <th scope="col" class="sortable sorted ascending">
            
              <div class="pull-right">
                
                  <a class="toggle" href="?o=-name"><i class="icon-sort-up"></i></a>
                
              </div>
            
            
              <div class="dropdown pull-left">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  name
                </a>
                <ul class="dropdown-menu" role="menu">
                  
                    <li class="active"><a href="?o=name" class="active"><i class="icon-caret-up"></i> Sort ASC</a></li>
                  
                    <li><a href="?o=-name" class="active"><i class="icon-caret-down"></i> Sort DESC</a></li>
                  
                    <li><a href="?o=" class="active"><i class="icon-remove"></i> Cancel Sort</a></li>
                  
                </ul>
              </div>
            
          </th>
          <th scope="col">
            
            
              &nbsp;
            
          </th>
        </tr>
        
      </thead>
      <tbody>
      
        <tr class="row1">
          <td  class="action-checkbox">
            
            
              <input class="action-select" name="_selected_action" type="checkbox" value="2" />
            
          </td>
        
          <td >
            
            
              <a href="/app/continent/2/update/">PBI</a>
            
          </td>
        
          <td >
            
            
              <div class="dropdown related_menu pull-left"><a title="Related Objects" class="relate_menu dropdown-toggle" data-toggle="dropdown"><i class="icon icon-list"></i></a><ul class="dropdown-menu" role="menu"><li class="with_menu_btn"><a href="/app/country/?_rel_continent__id__exact=2" title="country"><i class="icon icon-th-list"></i> country</a><a class="add_link dropdown-menu-btn" href="/app/country/add/?_rel_continent__id__exact=2"><i class="icon icon-plus pull-right"></i></a></li></ul></div>
            
          </td>
        </tr>
        
      
      </tbody>
    </table>
    
    </div>
    
<div class="well well-small actions btn-toolbar hidden">
  <input type="hidden" id="action" name="action" value=""/>
  <input type="hidden" id="select-across" name="select_across" value=""/>
  <div class="btn-group">
    <a class="dropdown-toggle btn btn-success" data-toggle="dropdown" href="#">
    <i class="icon-wrench icon-white"></i> 
    <span class="action-counter">0 of 1 selected</span>
    <span class="all">1 selected</span>
    <b class="caret"></b></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      
        <li><a onclick="$.do_action('delete_selected');"><i class="icon-remove"></i> Delete selected continents</a></li>
      
    </ul>
  </div>
  
      
      <script type="text/javascript">var _actions_icnt="1";</script>
  
</div>
    </form>

    <div class="pagination pagination-centered">
      
<ul>
  <li><span><b>1</b> continent</span></li>
  
  
</ul>

    </div>



      </div><!--/span-->
    </div><!--/row-->

    
      <hr>
      <footer>
        <p>&copy; my-company.inc 2013</p>
      </footer>
    

  </div><!--/.fluid-container-->

  <script type="text/javascript" src="/static/xadmin/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/xadmin/vendor/jquery-ui/jquery.ui.core.js"></script>
<script type="text/javascript" src="/static/xadmin/vendor/jquery-ui/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/static/xadmin/vendor/jquery-ui/jquery.ui.mouse.js"></script>
<script type="text/javascript" src="/static/xadmin/vendor/jquery-ui/jquery.ui.sortable.js"></script>
<script type="text/javascript" src="/static/xadmin/vendor/bootstrap/bootstrap.js"></script>
<script type="text/javascript" src="/static/xadmin/js/xadmin.main.js"></script>
  <script type="text/javascript" src="/static/xadmin/js/xadmin.plugin.themes.js"></script>
<script type="text/javascript" src="/static/xadmin/js/xadmin.plugin.details.js"></script>
<script type="text/javascript" src="/static/xadmin/js/xadmin.plugin.bookmark.js"></script>
<script type="text/javascript" src="/static/xadmin/js/xadmin.plugin.filters.js"></script>
<script type="text/javascript" src="/static/xadmin/js/xadmin.plugin.actions.js"></script>
<script type="text/javascript" src="/static/xadmin/js/xadmin.page.list.js"></script>
  
  
</body>
</html>
