{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    {% block xadmin_head %}
    {% endblock %}
{% endblock %}
{% block content %}
    <div class="row-fluid">
        <div class="span2">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li><a href="{% url 'xadmin:dashboard' %}">Dashboard</a></li>


                    <li class="nav-header">Connections</li>
                    <li><a href="{% url 'xadmin:inbox' %}">Inbox</a></li>
                    <li><a href="{% url 'xadmin:send_msg' %}">New message</a></li>

                    <li><a href="{% url 'xadmin:manage_connections' %}">Manage connections</a></li>
                    <li><a href="{% url 'xadmin:add_connections' %}">
                        Add connections</a></li>


                    <li class="nav-header">My activities</li>
                    <li><a href="{% url 'xadmin:new_topic' %}">New topic</a></li>
                    <li><a href="{% url 'xadmin:new_article' %}">New article</a></li>
                    <li><a href="{% url 'xadmin:recent_traces' %}">Recent traces</a></li>


                    <li class="nav-header">Account</li>
                    <li><a href="{% url 'xadmin:update_profile' %}">Update personal info</a></li>
                    <li><a href="{% url 'xadmin:chpsw_sendmail' %}">Change Password</a></li>
                </ul>
            </div>
            <!--/.well -->
        </div>
        <!--/span-->

        <div class="span10">
            {% block xadmin_content %}
            {% endblock %}
        </div>
    </div>

{% endblock %}
