.category-selectbox {
    font-size: 1.1em;
}

#cke_id_content {
    margin-bottom: 30px;
}

label {
    font-family: Alegreya, serif;
    font-size: 1.5em;
    font-weight: 700;
    margin: 20px 0;
}