{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}Accounts management{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/accounts.css" %}">
    <script>
        $(function () {
            var path = window.location.pathname;
            if (path.indexOf('login') >= 0) {
                $('#login_tab').addClass("active");
            }
            if (path.indexOf('register') >= 0) {
                $('#register_tab').addClass("active");
            }
            if (path.indexOf('forgot_password') >= 0) {
                $('#forgot_password_tab').addClass("active");
            }

        })
    </script>
{% endblock %}
{% block content %}
    <div class="container accounts-panel">
        <div class="span8 offset2">
            <div class="tabbable custom-tabs">
                <ul class="nav nav-tabs">
                    <li id="login_tab" class=""><a href="{% url 'accounts:login' %}">
                        <i class="icon-lock"></i>&nbsp;<span>Login Panel</span></a>
                    </li>
                    <li id="register_tab" class=""><a href="{% url 'accounts:register' %}">
                        <i class="icon-user"></i>&nbsp;<span>Register Panel</span></a>
                    </li>
                    <li id="forgot_password_tab" class=""><a href="#">
                        <i class="icon-key"></i>&nbsp;<span>Forgot Password</span></a>
                    </li>
                </ul>

                <div class="tab-content">
                    {% block accounts_content %}{% endblock %}
                </div>

            </div>

        </div>
    </div>
{% endblock %}