{% extends 'accounts/accounts.html' %}
{% load widget_tweaks %}
{% block accounts_content %}
    <div class="tab-pane active" id="panel3">
        <div class="row-fluid">
            <div class="span5">
                <h4><i class="icon-unlock"></i>&nbsp;&nbsp;Password Recovery</h4>
                <form action="{% url 'accounts:forget_password' %}" method='POST' id="forget-password-form">
                    {% csrf_token %}
                    <label>Username</label>
                    <input type="text" class="input-block-level" name="username" />
                    <label>Email</label>
                    <input type="text" class="input-block-level" name="email" />
                
                    <br>
                    <br>
                    <a class="btn" onclick="$('#forget-password-form').submit();">Send confirmation mail&nbsp;&nbsp;&nbsp;<i class="icon-chevron-sign-right"></i></a>
                </form>
            </div>
            <div class="span7">
                <h4><i class="icon-question"></i>&nbsp;&nbsp;Help</h4>

                <div class="box">
                    <p>
                        Enter your username and email address used when registering and an
                        email for confirmation will be sent.
                    </p>

                </div>
            </div>
        </div>


    </div>
{% endblock %}
