{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Update your profile{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "forum/update_profile.css" %}">
{% endblock %}
{% block content %}
    <div class="update-profile-wrapper">
        <div class="header-container">
            <h1>Profile Editing</h1>
        </div>

        <div class="main-profile">
            <div class="portrait-wrapper">
                <img class="portrait" src="{% static 'forum/default_portrait.jpg' %}">
            </div>
            <form method="POST" action=""> {% csrf_token %}
                <div class="error_msg">
                    {{ form.non_field_errors }}
                </div>

                <div class="section" id="name">
                    <h2>Name</h2>

                    <div>
                        <label for="id_first_name">First Name</label>
                        {{ form.first_name }}
                    </div>
                    <div>
                        <label for="id_last_name">Last Name</label>
                        {{ form.last_name }}
                    </div>
                    <div>
                        <label for="id_nickname">Nickname</label>
                        {{ form.nickname }}
                    </div>
                </div>

                <div class="section" id="contact_info">
                    <h2>Contact Info</h2>

                    <div>
                        <label for="id_website">Personal Website</label>
                        {{ form.website }}
                    </div>
                    <div>
                        <label for="id_renren">Renren</label>
                        {{ form.renren }}
                    </div>
                    <div>
                        <label for="id_qq">QQ</label>
                        {{ form.qq }}
                    </div>

                    <div>
                        <label for="id_phone">Phone</label>
                        {{ form.phone }}
                    </div>
                </div>

                <div class="section" id="biography">
                    <h2>About Yourself</h2>

                    <div>
                        <label for="id_biography">Biographical Info</label>
                        {{ form.biography }}
                    </div>
                    <div>
                        <label for="id_motto">Motto</label>
                        {{ form.motto }}
                    </div>
                </div>

                <div class="section" id="account">
                    <h2>Account</h2>

                    <div>
                        <label for="id_email">Email</label>
                        {{ form.email }}
                    </div>
                    <div>
                        <label for="id_password">New Password</label>
                        {{ form.new_password }}
                    </div>
                    <div>
                        <label for="id_re_password">Re-enter New Password</label>
                        {{ form.re_password }}
                    </div>
                </div>

                <input class="button blue-button"
                       type="submit" value="Update Profile"/>

            </form>

        </div>


    </div>
{% endblock %}