{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/view_profile.css' %}" type="text/css" media="screen"/>
    <script>
        $(function () {
            CKEDITOR.replace('invitation-content');
            CKEDITOR.replace('message-content');

            $('#add-friend-btn').click(function () {
                $('#add-friend-modal').modal('show');
                $('#add-friend-submit-btn').click(function () {
                    $.ajax({
                        type: "POST",
                        url: "{% url 'network:send_invitation' %}",
                        data: {
                            receiver_id: {{ this_user.id }},
                            content: CKEDITOR.instances['invitation-content'].getData()
                        }
                    }).done(function (msg) {
                                $('#add-friend-modal').modal('hide');
                                show_message(msg, "success");
                                $('#add-friend-btn').replaceWith("<a class=\"btn btn-success disabled input-block-level\">" +
                                        "Invitation sent</a>");
                            });
                })
            });

            $('#send-message-btn').click(function () {
                $('#send-message-modal').modal('show');
                $('#send-message-submit-btn').click(function () {
                    $.ajax({
                        type: "POST",
                        url: "{% url 'network:send_message' %}",
                        data: {
                            receiver_id: {{ this_user.id }},
                            subject: $('#message-subject').val(),
                            content: CKEDITOR.instances['message-content'].getData()
                        }
                    }).done(function (msg) {
                                $('#send-message-modal').modal('hide');
                                show_message(msg, "success");
                            });
                })
            })

            $('#follow-btn').click(function () {
                $.ajax({
                    type: "GET",
                    url: "{% url 'network:add_follow' %}",
                    data: {
                        receiver_id: {{ this_user.id }}
                    }
                }).done(function (msg) {
                            show_message(msg, "success");
                            $('#follow-btn').replaceWith("<a class=\"btn btn-success disabled input-block-level\">followed</a>");
                        })
            })
        })
    </script>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span8 offset2">
                <div class="subheader">
                    <h3>Profile of {{ this_user.username }}</h3>
                </div>
                <div class="row-fluid">
                    <div class="span6">
                        <div class="row-fluid">
                            <div class="span4 gravatar">
                                <img src="{{ profile.thumbnail.url }}">

                                <div class="row-fluid">
                                    {% if has_login %}
                                        <ul class="span12 connect-btns">
                                            <li>
                                                {% if is_friend %}
                                                    <a class="btn btn-success disabled input-block-level">friended</a>
                                                {% else %}
                                                    <a id="add-friend-btn" class="btn input-block-level"><i
                                                            class="icon-plus-sign-alt"></i>
                                                        friend</a>
                                                {% endif %}

                                            </li>
                                            <li>
                                                {% if has_followed %}
                                                    <a class="btn btn-success disabled input-block-level">followed</a>
                                                {% else %}
                                                    <a id="follow-btn"
                                                       class="btn input-block-level"><i class="icon-star-empty"></i>
                                                        follow</a>
                                                {% endif %}
                                            </li>
                                            <li>
                                                <a id="send-message-btn" class="btn input-block-level"><i
                                                        class="icon-envelope-alt"></i>
                                                    message</a>
                                            </li>
                                        </ul>
                                    {% else %}
                                        <div class="meta">
                                            You must login to make connect with {{ profile.nickname }}.
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="span8 biography">
                                <table class="table table-condensed">
                                    <tbody>
                                    <tr>
                                        <td rowspan="4">bio</td>
                                        <td>username</td>
                                        <td>{{ this_user.username }}</td>
                                    </tr>
                                    <tr>
                                        <td>first name</td>
                                        <td>{{ profile.first_name }}</td>
                                    </tr>
                                    <tr>
                                        <td>last name</td>
                                        <td>{{ profile.last_name }}</td>
                                    </tr>
                                    <tr>
                                        <td>motto</td>
                                        <td>{{ profile.motto|safe }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="table table-condensed">
                                    <tbody>
                                    <tr>
                                        <td rowspan="5">contact</td>
                                        <td>website</td>
                                        <td><a href="{{ profile.website }}">
                                            {{ profile.website }}
                                        </a></td>
                                    </tr>
                                    <tr>
                                        <td>renren</td>
                                        <td><a href="{{ profile.renren }}">
                                            {{ profile.renren }}
                                        </a></td>
                                    </tr>
                                    <tr>
                                        <td>qq</td>
                                        <td>{{ profile.qq }}</td>
                                    </tr>
                                    <tr>
                                        <td>phone</td>
                                        <td>{{ profile.phone }}</td>
                                    </tr>
                                    <tr>
                                        <td>email</td>
                                        <td>{{ this_user.email }}</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="span6 right-description">
                        {{ profile.biography|safe }}
                    </div>
                </div>
                <div class="row-fluid history">
                    <div class="span6 preview topic">
                        <h4 class="profile-headline">
                            <span class="numbers">{{ stat.topic_cnt }}</span>
                                Topics
                        </h4>
                        <ul>
                            {% for topic in topic_list %}
                                <li>
                                <span class="numbers">{{ topic.post_set.count }}</span>
                                    <a href="{{ topic.get_absolute_url }}">
                                        {{ topic.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="span6 preview">
                         <h4 class="profile-headline">
                            <span class="numbers">{{ stat.post_cnt }}</span>
                                Posts
                        </h4>
                        <ul>
                            {% for post in post_list %}
                                <li>
                                    <a href="{{ post.get_absolute_url }}">
                                        <i class="icon-reply"></i>
                                        {{ post.topic.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span6 preview article">
                        <h4 class="profile-headline">
                            <span class="numbers">{{ stat.article_cnt }}</span>
                            Articles
                        </h4>
                        <ul>
                            {% for article in article_list %}
                                <li>
                                    <span class="numbers">{{ article.comment_set.count }}</span>
                                    <a href="{{ article.get_absolute_url }}">
                                        {{ article.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="span6 preview comment">
                        <h4 class="profile-headline">
                            <span class="numbers">{{ stat.comment_cnt }}</span>
                            Comments
                        </h4>
                        <ul>
                            {% for comment in comment_list %}
                                <li>
                                    <span class="numbers">0</span>
                                    <a href="{{ comment.get_absolute_url }}">
                                        {{ comment.article.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span6 tag-preview">
                        <h4 class="profile-headline">
                            <span class="numbers">{{ stat.tag_cnt }}</span>
                            Tags
                        </h4>
                        <ul>
                            {% for tag in tag_list %}
                                <li>
                                    <a href="{{ tag.get_absolute_url }}">
                                        {{ tag.title }}
                                    </a>
                                    <span class="meta">
                                         &nbsp; × {{ tag.count }}
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="add-friend-modal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>Make friend with {{ profile.nickname }}</h3>
        </div>
        <div class="modal-body">
            <textarea id="invitation-content" placeholder="Enter your invitation here"></textarea>
        </div>
        <div class="modal-footer">
            <a id="add-friend-submit-btn" class="btn btn-primary">Send invitation</a>
        </div>
    </div>

    <div id="send-message-modal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>Messaging {{ profile.nickname }}</h3>
        </div>
        <div class="modal-body">
            <input type="text" id="message-subject" class="input-block-level">
            <textarea id="message-content" placeholder="Enter your message here"></textarea>
        </div>
        <div class="modal-footer">
            <a id="send-message-submit-btn" class="btn btn-primary">Send message</a>
        </div>
    </div>
{% endblock %}
