@font-face {
    font-family: "Chunkfive";
    src: url("Chunkfive.otf");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    background-image: url('bg.png');
}

a {
    text-decoration: none;
}

.top-wrap {
    position: relative;
    height: 400px;
}

.logo {
    background: #FF9933;
    position: absolute;
    top: 0;
    right: 90%;
    margin-right: -345px;
    height: 315px;
    width: 1000px;
    padding: 65px 35px 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    text-align: right;
    text-transform: uppercase;

    font-family: "Chunkfive";
    font-weight: 100;
    font-size: 50px;

    letter-spacing: 3px;
    line-height: 1.4;
}

#logo-shadow1 {
    background: #CC7A29;
    top: 7px;
    left: 8px;
    z-index: -1;
}

#logo-shadow2 {
    background: #8F551D;
    top: 15px;
    left: 15px;
    z-index: -2;
}

.logo a {
    color: #444
}

.logo a span {
    color: white;
    margin-left: -15px;
}

.logo a:hover span {
    text-shadow: 0 0 7px white
}

.page-wrap {
    background-color: #d6d5d5;
    width: 90%;
    height: 1000px;
    margin: -250px auto 40px;
    position: relative;
    padding-top: 20px;
}

#page-wrap-shadow1 {
    background: #969595;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 7px;
    left: 8px;
    z-index: -1;
}

#page-wrap-shadow2 {
    background: #696868;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 15px;
    left: 15px;
    z-index: -2;
}

.admin-bar {
    position: fixed;
    margin: 0 auto;
    top: 0;
    background: url('admin-bar.png') repeat-x 0 bottom #1b1b1b;
    height: 34px;
    width: 100%;
    z-index: 100;
    opacity: 0.9;
}

.top-nav {
    float: right;
    text-align: left;
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none;
    border-right: 1px solid rgba(255, 255, 255, 0.0976562);
    border-left: 1px solid rgba(0, 0, 0, 0.347656);
}

.top-nav li {
    font: bold 14px "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
    display: inline-block;
    float: left;
    position: relative;
    top: 1px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    text-shadow: 0 0px 2px #000;
    border-left: 1px solid rgba(255, 255, 255, 0.0976562);
    border-right: 1px solid rgba(0, 0, 0, 0.347656);
    text-align: -webkit-match-parent;
}

.top-nav li a {
    color: #e6e6e6;
    font-weight: bolder;
    font-style: normal;
    text-decoration: none;
    display: block;
    padding: 8px 12px;
}

.top-nav li:hover {
    background-color: #2A2A2A;
}

#log-in-panel {
    background-color: dodgerblue;
    position: fixed;
    top: 34px;
    right: 0;
    width: 200px;
    height: 300px;
    z-index: 99;
    opacity: 0.75;
}