.main-wrapper {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 .625em .07em rgba(0,0,0,0.05);
    padding: 50px;
}

.main-wrapper h2 {
    font-size: 36px;
}

.main-wrapper ul.meta {
    list-style: none;
    margin-top: -10px;
    margin-bottom: 50px;
    margin-left: 0;
    font-size: 1.2em;
    border-top: 0.07em solid rgba(0,0,0,0.1);
    padding-bottom: 5px;
}

.main-wrapper ul.meta li {
    display: inline-block;
    position: relative;
    padding: 1em 0.5em 0 0.5em;
}

.main-wrapper .author {
    font-family: Alegreya, serif;
    font-size: 25px;
    color: #BEBEBE;
    font-weight: 700;
    margin: 20px 0 20px 30px;
}

.main-wrapper .author img {
    width: 25px;
}

.content-wrapper {
    font-size: 15px;
    padding-bottom: 100px;
    border-bottom: #0064cd solid 8px;
}
#comment-list {
    padding-top: 50px;
}

.comment-meta {
    font-size: 24px;
}

.comment-meta span {
    margin-right: 25px;
}

.comment-meta img {
    width: 24px;
}

.comment-meta .comment-index {
    color: #BEBEBE;
}

.comment-meta .comment-author {
    font-family: Alegreya, serif;
    font-weight: 700;
}

.comment-meta .comment-date {
    color: #BEBEBE;
    font-size: 16px;
}

.comment-content {
    margin-top: 15px;
    padding: 20px;
    border: rgba(0, 0, 0, 0.1) solid 1px;
}

#comment-list .comment {
    margin-top: 35px;
}

.comment-box {
    margin-top: 20px;
}

#comment-submit-btn {
    margin-top: 20px;
}

.tag-preview {
    display: inline-block;
    margin-left: 0;
}

.tag-preview li {
    list-style: none;
    display: inline-block;
}

.tag-preview a {
    background: #c4dae9;
    padding: 3px;
    box-shadow: 0 0 1px blue;
    font-size: 0.9em;
    color: #4a6b82;
}

.tag-preview a:hover {
    color: blue;
}