.article-title {
    color: #333;
    font-size: 30px;
}

.main-wrapper {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 .625em .07em rgba(0, 0, 0, 0.05);
}

.main-wrapper .content {
    margin-top: 30px;
    padding: 0 20px;
}

.main-wrapper ul.meta {
    list-style: none;
    margin-top: -10px;
    margin-bottom: 1em;
    margin-left: 0;
}

.main-wrapper ul.article-list {
    list-style: none;
}

.main-wrapper ul.article-list>li {
    margin-bottom: 20px;
    padding-bottom: 40px;
    border-bottom: solid deepskyblue 8px;
}

.main-wrapper .meta {
    font-size: 1.2em;
    border-bottom: 0.07em solid rgba(0, 0, 0, 0.1);
    padding-bottom: 5px;
}

.main-wrapper .meta li {
    display: inline-block;
    position: relative;
    padding: 1em 0.5em 0 0.5em;
}

.main-wrapper h2 {
    line-height: 0.9em;
}

.main-wrapper ul.meta li .tag:after {
    content: ","
}

.main-wrapper ul.meta li .tag:last-child:after {
    content: ""
}

.main-wrapper .abstract {
    padding: 0 30px;
    font-size: 1.3em;
    line-height: 1.5em;
}

.main-wrapper .read-more {
    margin: 20px 0 0 10px;
}

.input-append {
}

.additional-limit {
    border-radius: 5px;
    background: #ffffff;
    padding: 20px;
}

.archive {
    padding: 15px 30px 15px 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    font-size: 1.0em;
}

.archive li {
    list-style: none;
    cursor: pointer;
}

.archive strong {
    color: #0e0e0e;
}

.archive-article-title {
    margin-bottom: 5px;
}

.archive-article-title>a {
    font-size: 1em;
}
.archive-level1 {
    font-size: 1.1em;
    padding: 5px;
}
.archive-level2 {
    font-size: 1em;
}
.day-nav-wrapper{
    border-collapse: collapse;
    padding: 10px 10px;
}
.day-nav-wrapper ul, .day-nav-wrapper li {
    border-collapse: inherit;
}
.archive-articles-wrapper {
    padding: 10px;
}