{% extends "pages/pages_base.html" %}
{% load staticfiles %}
{% load access_to_settings %}

{% block pages_head %}
    <link rel="stylesheet" type="text/css" href="{% static "pages/detail.css" %}">
    <script>
        $(function () {
            CKEDITOR.replace('id_content', {
                customConfig: '{% static 'ckeditor4.2/config_intermediate.js' %}'
            });
        })
    </script>
{% endblock %}
{% block pages_content %}
    <div class="row-fluid">
        <div class="span7 offset2 main-wrapper">
            <h2>{{ article.title }}</h2>

            <div class="author">
                <span class="">
                    By &nbsp; &nbsp;
                    <a href="{{ article.author.get_profile.get_absolute_url }}">
                        <img src="{{ article.author.get_profile.thumbnail.url }}">
                        {{ article.author.get_profile.nickname }}</a>
                </span>
            </div>
            <ul class="meta">
                <li>
                    <i class="icon-time"></i>
                    {{ article.date_published|date:"P, M d" }}
                </li>
                <li>
                    <i class="icon-comment"></i>
                    {{ article.comment_set.all.count }} comment{{ article.comment_set.all.count|pluralize }}
                </li>
                <li>
                    <i class="icon-tags"></i>
                    {% if article.tags.all %}
                        {% for tag in article.tags.all %}
                            <span class="tag">{{ tag.title }}</span>
                        {% endfor %}
                    {% else %}
                        <span class="tag">No tag</span>
                    {% endif %}
                </li>
            </ul>
            <div class="content-wrapper">
                {{ article.content|safe }}
            </div>
            <ul class="comment-list">
                {% for comment in article.comment_set.all %}
                    <div class="comment" id="comment_{{ comment.id }}">
                        <div class="comment-meta">
                            <span class="comment-index"># {{ forloop.counter }}</span>

                            <span class="comment-author">
                                <img src="{{ request.user.get_profile.thumbnail.url }}">
                                <a href="{{ comment.author.get_profile.get_absolute_url }}">
                                    {{ comment.author.get_profile.nickname }}
                                </a>
                            </span>

                            <span class="comment-date">
                                {{ comment.date_published|date:"P" }}
                                {{ comment.date_published|date:"M d, Y" }}
                            </span>
                        </div>
                        <div class="comment-content">
                            {{ comment.content|safe }}
                        </div>


                    </div>
                {% endfor %}
            </ul>

            <div class="comment-box">
                <h3>Leave a Comment</h3>

                <form method="post" action="{% url 'pages:new_comment' article_id=article.id %}"> {% csrf_token %}
                    <div class="error_msg">
                        {{ comment_form.non_field_errors }}
                    </div>
                    <div class="textarea-div">
                        {{ comment_form.content }}
                    </div>

                    <input id="comment-submit-btn" class="btn btn-info btn-large" type="submit"
                           value="Submit Comment">
                </form>
            </div>
        </div>
    </div>

{% endblock %}