{% extends "pages/pages_base.html" %}
{% load staticfiles %}
{% block pages_head %}
    <link rel="stylesheet" type="text/css" href="{% static "pages/index.css" %}">
{% endblock %}
{% block pages_content %}
    <div class="row-fluid">
        <div class="span7 offset2 main-wrapper">
            <div class="content">
                <ul class="article-list">
                    {% for article in article_list %}
                        <li>
                            <h2>
                                <a class="article-title"
                                   href="{% url 'pages:detail' article.id %}">
                                    {{ article.title }}
                                </a>
                            </h2>

                            <ul class="meta">
                                <li>
                                    <i class="icon-edit"></i>
                                    <a href="{{ article.author.get_profile.get_absolute_url }}">
                                        {{ article.author.get_profile.nickname }}</a>
                                </li>
                                <li>
                                    <i class="icon-time"></i>
                                    {{ article.date_published|date:"P, M d" }}
                                </li>
                                <li>
                                    <i class="icon-comment"></i>
                                    {{ article.comment_set.count }} comment{{ article.comment_set.count|pluralize }}
                                </li>
                                <li>
                                    <i class="icon-tags"></i>
                                    {% if article.tags.all %}
                                        {% for tag in article.tags.all %}
                                            <span class="tag">
                                                <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
                                            </span>
                                        {% endfor %}
                                    {% else %}
                                        <span class="tag">No tag</span>
                                    {% endif %}
                                </li>
                            </ul>
                            <div class="abstract">
                                {{ article.abstract|safe }}
                            </div>

                            <a class="btn btn-primary read-more" href="{% url 'pages:detail' article.id %}">Read
                                more</a>
                        </li>

                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
