{% extends "pages/pages_base.html" %}
{% load staticfiles %}
{% block pages_head %}
    <link rel="stylesheet" type="text/css" href="{% static "pages/index.css" %}">
{% endblock %}
{% block pages_content %}
    <div class="row-fluid">
        <div class="span7 offset2 main-wrapper">
            <div class="pagination pull-right">
                <ul>
                    {% if articles.has_previous %}
                        <li><a href="?page={{ articles.previous_page_number }}">«</a></li>
                    {% else %}
                        <li class="disabled"><a>«</a></li>
                    {% endif %}

                    </li>

                    <li>
                        <a href="#">
                            Page {{ articles.number }} of {{ articles.paginator.num_pages }}
                        </a>
                    </li>

                    {% if articles.has_next %}
                        <li><a href="?page={{ articles.next_page_number }}">»</a></li>
                    {% else %}
                        <li class="disabled"><a>»</a></li>
                    {% endif %}
                </ul>
            </div>
            <div style="clear:both"></div>
            <div class="content">
                <ul class="article-list">
                    {% for article in articles %}
                        <li>
                            <h2>
                                <a class="article-title"
                                   href="{% url 'pages:detail' article.id %}">
                                    {{ article.title }}
                                </a>
                            </h2>

                            <ul class="meta">
                                <li>
                                    <i class="icon-edit"></i>
                                    <a href="{{ article.author.get_profile.get_absolute_url }}">
                                        {{ article.author.get_profile.nickname }}</a>
                                </li>
                                <li>
                                    <i class="icon-time"></i>
                                    {{ article.date_published|date:"P, M d" }}
                                </li>
                                <li>
                                    <i class="icon-comment"></i>
                                    {{ article.comment_set.count }} comment{{ article.comment_set.count|pluralize }}
                                </li>
                                <li>
                                    <i class="icon-tags"></i>
                                    {% if article.tags.all %}
                                        {% for tag in article.tags.all %}
                                            <span class="tag">
                                                <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
                                            </span>
                                        {% endfor %}
                                    {% else %}
                                        <span class="tag">No tag</span>
                                    {% endif %}
                                </li>
                            </ul>
                            <div class="abstract">
                                {{ article.abstract|safe }}
                            </div>

                            <a class="btn btn-primary read-more" href="{% url 'pages:detail' article.id %}">Read
                                more</a>
                        </li>

                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="span3">
            <form method="GET" class="input-block-level" action="{% url 'pages:index' %}">
                <div class="input-append" style="width:100%">
                    <input type="text" class="span8" style="height:30px;" name="title"
                           placeholder="Enter the title you want to search">

                    <div class="btn-group">
                        <button class="btn"><i class="icon-angle-down"></i></button>
                        <button type="submit" class="btn">Search</button>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="id_abstract">in abstract</label>

                    <div class="controls">
                        <input id="abstract" type="text" name="abstract">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="id_tags">tags</label>

                    <div class="controls">
                        <input id="tags" type="text" name="tags">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="id_pub_time_start">Date from</label>

                    <div class="controls">
                        <input id="pub_time_start" type="text" name="pub_time_start">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="id_pub_time_end">Date to</label>

                    <div class="controls">
                        <input id="pub_time_end" type="text" name="pub_time_end">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
