{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>

    <script src="{% static "js/jquery-1.10.2.js" %}"></script>
    <script src="{% static 'js/jquery-ui-1.10.3/ui/jquery-ui.js' %}"></script>
    <script src="{% static 'ckeditor4.2/ckeditor.js' %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
    <script src="{% static 'tag-it/tag-it.js' %}"></script>
    <script src="{% static 'js/jquery.json-2.4.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap-responsive.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "font/font-awesome/css/font-awesome.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "js/jquery-ui-1.10.3/themes/base/jquery-ui.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "tag-it/tagit.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">

    {% block head %}
    {% endblock %}
    <title>{% block title %}Defalt Title{% endblock %}</title>
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        var show_message = function (msg, type) {
            $('.messages-list').text("");
            $('<div class=\"alert alert-'+type+'\">').append(
                            $('<button type="button" class="close" data-dismiss="alert">&times;</button>')
                    ).append(msg)
                    .appendTo($('.messages-list'));
        }

        $(function () {
            $('.messages-list').css({'margin-left': -($('.messages-list').width()) / 2});
            $('.messages-list').hide().fadeIn(500);

            $('.errorlist li').prepend('<i class="icon-exclamation"></i> &nbsp;');
        });
    </script>

</head>
<body>

<ul class="messages-list">
    {% for message in messages %}
        <div class="alert {% if message.tags %}{{ message.tags }}{% endif %}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message|safe }}
        </div>
    {% endfor %}
</ul>

<div class="navbar transparent navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{% url 'home' %}">
                <strong>Cornucopia</strong></a>

            <div class="nav-collapse">
                <ul class="nav">
                    {% url 'home' as home_url %}
                    <li{% if request.path == home_url %}
                        class="active"
                    {% endif %}><a href="{{ home_url }}"><i class="icon-home"></i>
                        Home</a></li>

                    {% url 'forum:all_category_index' as forum_url %}
                    <li{% if request.path == forum_url %}
                        class="active"
                    {% endif %}><a href="{{ forum_url }}"><i class="icon-comments"></i>
                        Forum</a></li>

                    {% url 'pages:index' as pages_url %}
                    <li{% if request.path == pages_url %}
                        class="active"
                    {% endif %}><a href="{{ pages_url }}"><i class="icon-file"></i>
                        Pages</a></li>

                    <li><a href="#about"><i class="icon-money"></i>
                        Donate</a></li>
                </ul>
                <div class="pull-right">
                    {% if user.is_authenticated %}
                        <span>
                        <img class="navbar-img" src="{{ user.get_profile.thumbnail.url }}">
                        </span>
                        <a id="profile-link" class="navbar-text"
                           href="{{ user.get_profile.get_absolute_url }}">
                            <strong>{{ user.get_profile.nickname }}</strong>
                        </a>
                        <a class="navbar-user-btn" href="{% url 'xadmin:inbox' %}">
                            {% if user.get_profile.get_unread_message_cnt %}
                                <i class="icon-envelope icon-large"></i>
                                <span class="subscript inbox-subscript">{{ user.get_profile.get_unread_message_cnt }}</span>
                            {% else %}
                                <i class="icon-envelope-alt icon-large"></i>
                            {% endif %}

                        </a>
                        <a class="navbar-user-btn" href="{% url 'xadmin:dashboard' %}">
                            <i class="icon-dashboard icon-large"></i>
                        </a>
                        <a class="navbar-user-btn" href="{% url 'accounts:logout' %}?next={{ request.get_full_path }}">
                            <i class="icon-signout icon-large"></i>
                        </a>

                    {% else %}
                        <div class="btn-group">
                            <a class="btn btn-primary"
                               href="{% url 'accounts:login' %}?next={{ request.get_full_path }}">
                                <i class="icon-user icon-large"></i>
                                Log in</a>
                            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="{% url 'accounts:register' %}?next={{ request.get_full_path }}">
                                    Not a member?</a></li>
                                <li><a href="{% url 'accounts:forget_password' %}">Forget password?</a></li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% block content %}
{% endblock %}


<footer>
    <div class="container">
        <div class="row">
            <article class="span12">
                <span>cornucopia © 2013</span>
            </article>
        </div>
    </div>
</footer>

</body>
</html>
