{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <script src="{% static "base/js/jquery-1.10.2.js" %}"></script>
    <script src="{% static "base/js/blockUI.js" %}"></script>
{#    <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>#}
    <script src="{% static 'ckeditor4.2/ckeditor.js' %}"></script>
    <script src="{% static 'ckeditor4.2/adapters/jquery.js' %}"></script>
    <title>{% block title %}Defalt Title{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "base/style.css" %}">

    {% block head %}
    {% endblock %}

    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        var submit_login_form = function () {
            var username = $("#login-box #id_username").val();
            var password = $("#login-box #id_password").val();
            var data = {username: username, password: password};
            $.ajax({
                type: "POST", url: "{% url "accounts:login" %}",
                data: data, complete: after_submit_login
            })

            return false;
        }

        var submit_registration_form = function () {
            $.ajax({
                type: "POST", url: "{% url "accounts:register" %}",
                data: {
                    username: $("#register-box #id_username").val(),
                    password: $("#register-box #id_password").val(),
                    re_password: $("#register-box #id_re_password").val(),
                    email: $("#register-box #id_email").val()
                }, complete: after_submit_register
            })
            return false;
        }

        var after_submit_login = function (res, status) {
            if (status == "success")
                window.location = window.location.href;
            else {
                $('.error_msg').remove();
                var error_msg = res.responseText;
                var error_div = $('<div class="error_msg"><p>' + error_msg + '</p></div>');
                error_div.insertAfter($('#login-h1')).hide().fadeIn(500);
            }
        };

        var after_submit_register = function (res, status) {
            if (status == "success") {
                window.location = window.location.href;
            }
            else {
                $('.error_msg').remove();
                var error_msg = res.responseText;
                var error_div = $('<div class="error_msg"><p>' + error_msg + '</p></div>');
                error_div.insertAfter($('#register-h1')).hide().fadeIn(500);
            }
        };

        $(function () {
            //$('#ckeditor-test').ckeditor();

            $('#login-box-btn').click(function () {
                $.blockUI({
                    message: $('#login-box'),
                    css: {
                        margin: 0, border: 0,
                        textAlign: 'left'
                    }
                });
                $('.blockOverlay').click($.unblockUI);
            });

            $("#login-submit-btn").click(submit_login_form);

            $('#register-box-btn').click(function () {
                $.blockUI({
                    message: $('#register-box'),
                    css: {
                        margin: 0, border: 0,
                        textAlign: 'left'
                    }
                });
                $('.blockOverlay').click($.unblockUI);
            });
            $("#register-submit-btn").click(submit_registration_form);


        });
    </script>

</head>
<body>
<div id="wrapper">

    <header id="top-wrap">
        <div class="logo" id="logo-shadow2"></div>
        <div class="logo" id="logo-shadow1"></div>
        <div class="logo">
            <a href="{% url 'home' %}">
                Teen
                <span>-Hope</span>
            </a>
        </div>

        <div class="quote">
            <div>
                “Life's challenges are not supposed to paralyze you, they're supposed to help you discover who you are.”
                <div class="author">
                    Bernice Johnson Reagon
                </div>
            </div>
        </div>
    </header>


    <div class="page-wrap">
        <div class="page-wrap" id="page-wrap-shadow1"></div>
        <div class="page-wrap" id="page-wrap-shadow2"></div>

        <nav class="main-nav">
            <ul>
                <li>
                    <a href="{% url 'home' %}">
                        <i class="icon-home"></i>
                        Home
                    </a>
                </li>
                <li>
                    <a href="{% url 'forum:index' %}">
                        <i class="icon-comments"></i>
                        Forum
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="icon-file"></i>
                        Pages
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="icon-camera"></i>
                        Gallery
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="icon-money"></i>
                        Donate
                    </a>
                </li>
            </ul>
        </nav>

        <div class="main-wrap">
            <div class="left-wrap">
                <div class="left-main-content paper-wrap">
                    {% block content %}
                        something about content
                    {% endblock %}
                </div>
            </div>
            <div class="right-wrap">
                <div class="user-box">

                    {% if user.is_authenticated %}
                        <div class="welcome">
                            <h4>Welcome, {{ user.get_profile.nickname }}.</h4>
                        </div>
                        <div class="user-buttons">
                            <a class="button blue-button" id="update_profile"
                               href="{% url 'accounts:update_profile' %}">Edit profile</a>
                            <a class="button blue-button" id="logout" href="{% url 'accounts:logout' %}">Log out</a>
                        </div>
                    {% else %}
                        <h4>Howdy Stranger!</h4>
                        <p>
                            Get help, give help. Join our friendly
                            community.
                        </p>
                        <div class="user-buttons">
                            <a class="button blue-button" id="login-box-btn">Log In</a>
                            <a class="button blue-button" id="register-box-btn">Join
                                Now</a>
                        </div>
                    {% endif %}
                </div>

                <a href="{% url 'forum:new_topic' %}" class="button new-topic-button">
                    Start New Topic
                </a>
            </div>

            <div style="clear: both"></div>
        </div>
    </div>

</div>

<!-- hidden login box -->
<div id="login-box">
    <div class="content">
        <h1 id="login-h1">Member Login</h1>

        <form method="post"> {% csrf_token %}
            <div>
                <label for="id_username">Username</label>
                <input type="text" id="id_username" name="username" class="input-box">
            </div>
            <div>
                <label for="id_password">Password</label>
                <input type="password" id="id_password" name="password" class="input-box">
            </div>

            <input id="login-submit-btn" class="button blue-button" type="submit" value="Log In"/>
        </form>
    </div>
</div>

<div id="register-box">
    <div class="content">
        <h1 id="register-h1">Registration</h1>

        <form method="post">{% csrf_token %}
            <div>
                <label for="id_username">Username</label>
                <input type="text" id="id_username" name="username" class="input-box">
            </div>
            <div>
                <label for="id_password">Password</label>
                <input type="password" id="id_password" name="password" class="input-box">
            </div>
            <div>
                <label for="id_re_password">Re-enter password</label>
                <input type="password" id="id_re_password" name="re_password" class="input-box">
            </div>
            <div>
                <label for="id_email">Email</label>
                <input type="text" id="id_email" name="email" class="input-box">

            </div>
            <input id="register-submit-btn" class="button blue-button"
                   type="submit" value="Submit"/>
        </form>
    </div>
</div>

<!-- block over layer -->
<div class="blockOverlay">
</div>

</body>
</html>