{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Cornucopians - a universally friendly onilne community
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css" media="screen"/>

    <script src="{% static 'js/home-slider.js' %}"></script>
{% endblock %}
{% block content %}

    <section id="feature_slider" class="">
        <!--
            Each slide is composed by <img> and .info
            - .info's position is customized with css in index.css
            - each <img> parallax effect is declared by the following params inside its class:

            example: class="asset left-472 sp600 t120 z3"
            left-472 means left: -472px from the center
            sp600 is speed transition
            t120 is top to 120px
            z3 is z-index to 3
            Note: Maintain this order of params

            For the backgrounds, you can combine from the bgs folder :D
        -->
        <article class="slide" id="cornucopians"
                 style="background: url('{% static 'img/backgrounds/heart_tree.jpg' %}') repeat-x top center;">

            <div class="info">
                <h2>Cornucopians</h2>

                <div>Cornucopians offers a cornucopia of things you need to fight with diseases.</div>
            </div>
        </article>
        <article class="slide" id="together"
                 style="background: url('{% static 'img/backgrounds/lego_squad.jpg' %}') repeat-x top center;">
            <div class="info">
                <h2>Together</h2>

                <div>We unite all teenagers suffering from diseases together to form a support community.</div>
            </div>
        </article>
        <article class="slide" id="window"
                 style="background: url('{% static 'img/backgrounds/peek_from_balcony.jpg' %}') repeat-x top center;">

            <div class="info">
                <h2>Window</h2>

                <div>We want you to see that life is beautiful, and full of hopes.</div>
            </div>
        </article>
        <article class="slide" id="journey"
                 style="background: url('{% static 'img/backgrounds/road_ahead.jpg' %}') repeat-x top center;">

            <div class="info">
                <h2>Journey</h2>

                <div>We are here to help you travel further on the road to recovery.</div>
            </div>
        </article>
    </section>

    <div class="intro row-fluid">
        <div class="container">
            <div class="span9">
                <span>Cornucopians is a non-profit community dedicating for
                    helping physically injured teenagers.</span>

                <p>Cornucopians aims to inspire and encourage teenagers with serious diseases to have a more positive
                    attitude towards
                    life and illness by establishing an online community for them and providing related information.
                </p>
            </div>
            <div class="span3 join-now">
                <a href="{% url 'accounts:register' %}"
                   class="btn btn-success btn-block btn-large">Join Us Now</a>
            </div>
        </div>
    </div>


    <div class="main-wrapper container-fluid">
        <div class="row-fluid">
            <div class="span1"></div>
            <div class="span4">
                <div class="quote">
                    <h2 class="short-headline">
                        <span>quote ignite</span>
                    </h2>

                    <div class="content">
                        <i class="icon-quote-left icon-large"></i>
                        {{ quote_content }}
                        <i class="icon-quote-right icon-large"></i>
                    </div>
                    <div class="author pull-right">
                        {{ quote_author }}
                    </div>
                </div>

                <div class="hot-topics">
                    <h2 class="short-headline">
                        <span>hot topics this week</span>
                    </h2>

                    <div class="content">
                        <ul>
                            {% for topic in hot_topics %}
                                <li>
                                    <h3>
                                        <a class="topic-title"
                                           href="{% url 'forum:topic_detail' topic.id %}">
                                            {{ topic.title }}
                                        </a>
                                    </h3>

                                    <div class="meta">
                                            <span>{{ topic.post_set.count }}
                                                post{{ topic.post_set.count|pluralize }}
                                            </span>
                                            <span>
                                                <i class="icon-edit"></i>
                                                Last edited by
                                                <a href="{{ topic.get_last_post.author.get_profile.get_absolute_url }}">
                                                    {{ topic.get_last_post.author.get_profile.nickname }}
                                                </a>
                                            </span>
                                            <span>
                                                <i class="icon-time"></i>
                                                {{ topic.get_last_post.date_published|date:"P M d" }}
                                            </span>
                                            <span>
                                                <i class="icon-tag"></i>
                                                <a href="{{ topic.category.get_absolute_url }}">
                                                    {{ topic.category.title }}
                                                </a>
                                            </span>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="span6">
                <div class="features">
                    <h2 class="short-headline">
                        <span>features at cornucopians</span>
                    </h2>

                    <div class="row-fluid">
                        <div class="feature-item span4 forum-intro">
                            <div class="feature-icon">
                                <i class="icon-comments"></i>
                            </div>
                            <h3><a href="{% url 'forum:all_category_index' %}">forum</a></h3>
                        <span>
                            Forum is the friendly place to post questions, raise doubts, or start discussions on
                            any topic you like.
                        </span>
                        </div>
                        <div class="feature-item span4 blog-intro">
                            <div class="feature-icon">
                                <i class="icon-file"></i>
                            </div>
                            <h3><a href="{% url 'pages:index' %}">blog</a></h3>
                        <span>
                            Here is a mini-functional blog system for every member, to share life stories and
                            experiences, or anything you'd like to let others enjoy.
                        </span>
                        </div>
                        <div class="feature-item span4 connect-intro">
                            <div class="feature-icon">
                                <i class="icon-code-fork"></i>
                            </div>

                            <h3><a href="#">connect</a></h3>
                        <span>
                            Connecting with others is the most effective way to fight against solitude.
                            You can invite friends, send messages, and subscribe those people you are interested in
                            in order to get notified whenever updates come out.
                        </span>
                        </div>
                    </div>
                </div>

                <div class="highlight-pages">
                    <h2 class="short-headline">
                        <span>pages of highlight</span>
                    </h2>

                    <div class="content">
                        <ul class="article-list">
                            {% for article in hot_articles %}
                                <li>
                                    <h3>
                                        <a class="article-title"
                                           href="{% url 'pages:detail' article.id %}">
                                            {{ article.title }}
                                        </a>
                                    </h3>

                                    <ul class="meta">
                                        <li>
                                            <i class="icon-edit"></i>
                                            <a href="{{ article.author.get_profile.get_absolute_url }}">
                                                {{ article.author.get_profile.nickname }}
                                            </a>
                                        </li>
                                        <li>
                                            <i class="icon-time"></i>
                                            {{ article.date_published|date:"P, M d" }}
                                        </li>
                                        <li>
                                            <i class="icon-comment"></i>
                                            <a href="{% url 'pages:detail' article.id %}#comment-list">
                                                {{ article.comment_set.count }}
                                                comment{{ article.comment_set.count|pluralize }}
                                            </a>
                                        </li>
                                        <li>
                                            <i class="icon-tags"></i>
                                            {% if article.tags.all %}
                                                {% for tag in article.tags.all %}
                                                    <span class="tag">
                                                        <a href="{{ tag.get_absolute_url }}">
                                                            {{ tag.title }}
                                                        </a>
                                                    </span>
                                                {% endfor %}
                                            {% else %}
                                                <span class="tag">No tag</span>
                                            {% endif %}
                                        </li>
                                    </ul>
                                    <div class="abstract">
                                        {{ article.abstract|safe }}
                                    </div>

                                    <a class="btn btn-primary pull-right" href="{% url 'pages:detail' article.id %}">Read
                                        more</a>
                                </li>

                            {% endfor %}
                        </ul>


                    </div>
                </div>
            </div>
            <div class="span1"></div>
        </div>
    </div>
{% endblock %}