.forum-detail-content {
    margin: 0 20px;
}

.author-info {
    margin: 10px 10px;
    text-transform: uppercase;
    word-spacing: 2px;
}

.post {
    position: relative;
    width: 100%;
}

.post .portrait {
    width: 100%;
    border: #808080 solid medium;
}

.post-left-wrap {
    float: left;
    width: 22%;
    position: relative;
    padding: 10px 20px;
    overflow: hidden;
}

.post-right-wrap {
    float: right;
    width: 78%;
    position: relative;
    padding: 10px 20px;
    overflow: hidden;
}


.post-author {
    color: #859ce6;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.post-date {
    text-transform: uppercase;
    text-align: center;
}

.post-content {
    margin: 5px;
    font-family: source_sans_pro;
    overflow: hidden;
}

.forum-reply {
    position: relative;
    float: right;
    color: #859ce6;
    font-size: 24px;
}

.forum-reply:hover {
    cursor: pointer;
    color: #6A7DB8;
}

.new-post-submit {
    margin: 30px 0 0 40px;
    width: 20%;
    font-size: 20px;
    line-height: 1;
}