.author-info {
    margin: 10px 10px;
    word-spacing: 2px;
    font-size: 16px;
}
.post-list {
    margin-left: 0;
}
.post {
    width: 100%;
    background: #ffffff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    padding: 30px;
    margin-bottom: 30px;
}

.post .portrait {
    width: 100%;
    border: #808080 solid thin;
}

.post-author {
    color: #859ce6;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.post-date {
    text-transform: uppercase;
    text-align: center;
}

.post-content {
    padding: 25px 10px;
    border-bottom: dashed rgba(0,0,0,0.3) 1px;
}

.post-box {
    width: 100%;
    padding: 30px;
    background: #ffffff;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
}

#pop-up-reply-box {
    margin: 20px 0 0 0;
}

#post-submit-btn {
    margin: 20px 0 0 0;
    font-size: 20px;
}

.reply-list {
    margin-top: 30px;
    padding: 20px 30px;
    border: rgba(0,0,0,0.05) solid 1px;
    background: rgba(0,0,0,0.02);
    overflow: hidden;
}

.reply-box {
    margin-top: 20px;
}

.reply-box .reply-submit-btn {
    margin-top: 10px;
}

.reply-wrapper {
    margin: 10px 0px;
    padding: 10px 0px;
    border-bottom: rgba(0,0,0,0.05) solid 1px;
}
.reply-wrapper .date {
    color: rgba(0,0,0,0.4);
    font-size: 0.9em;
}

.reply-content{
    margin: 5px;
}

.reply-toggle-btn {
    margin: 5px 0 0 0;
}