.forum-detail-content {
    margin: 0 20px;
}

.author-info {
    margin: 10px 10px;
    text-transform: uppercase;
    word-spacing: 2px;
}

.post {
    position: relative;
    width: 100%;
}

.post .portrait {
    width: 100%;
    border: #808080 solid medium;
}

.post-left-wrap {
    float: left;
    width: 22%;
    position: relative;
    padding: 10px 20px;
    overflow: hidden;
}

.post-right-wrap {
    float: right;
    width: 78%;
    position: relative;
    padding: 10px 20px;
    overflow: hidden;
}

.post-author {
    color: #859ce6;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.post-date {
    text-transform: uppercase;
    text-align: center;
}

.post-content {
    margin: 5px;
    font-family: source_sans_pro;
    overflow: hidden;
}

.forum-reply-btn {
    position: relative;
    float: right;
    color: #859ce6;
    font-size: 24px;
}

.forum-reply-btn:hover {
    cursor: pointer;
    color: #6A7DB8;
}

.new-post-submit {
    margin: 30px 0 0 40px;
    width: 20%;
    font-size: 20px;
    line-height: 1;
}

.reply-list {
    margin: 10px -40px 10px 20px;
    position: relative;
}

.left-border {
    border-left: #0064cd solid 10px;
    position: absolute;
    height: 100%;
    width: 10px;
}

.reply-box {
    opacity: 0;
    display: none;
    border: 0;
    color: rgb(51, 51, 51);
    position: fixed;
    height: 50%;
    width: 50%;
    box-shadow: 0 0 10px black;

    top: auto;
    left: auto;
    bottom: 0;
    right: 0;

    box-sizing: border-box;
    z-index: 10;
}

.ckeditor-wrapper {
    position: relative;
    top: auto;
    width: 100%;
    height: 90%;
}

.reply-btn-wrapper {
    position: relative;
    height: 10%;
}

.reply-btn-wrapper ul {
    list-style: none;
}

.reply-btn-wrapper li {
    cursor: pointer;
    color: grey;
    display: inline;
    margin-right: 10px;
}

.reply-btn-wrapper li a:hover {
    text-shadow: 0 0 1px grey;
}

.reply-box .error_msg {
    cursor: auto;
    color: red;
    opacity: 0;
    font-size: 16px;
}