.author-info {
    margin: 10px 10px;
    word-spacing: 2px;
    font-size: 16px;
}
.post-list {
    margin-left: 0;
}
.post {
    width: 100%;
    background: #ffffff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    padding: 30px;
    margin-bottom: 30px;
}

.post .portrait {
    width: 100%;
    border: #808080 solid medium;
}

.post-author {
    color: #859ce6;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.post-date {
    text-transform: uppercase;
    text-align: center;
}

.post-content {
    padding: 25px 10px;
    border-bottom: dashed rgba(0,0,0,0.3) 1px;
}

.post-box {
    width: 100%;
    padding: 30px;
    background: #ffffff;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
}

#pop-up-reply-box {
    margin: 20px 0 0 0;
}

#post-submit-btn {
    margin: 20px 0 0 0;
    font-size: 20px;
}

.reply-list {
    margin: 10px -40px 10px 20px;
    position: relative;
}
.reply-box {
    opacity: 0;
    display: none;
    border: 0;
    color: rgb(51, 51, 51);
    position: fixed;
    height: 50%;
    width: 50%;
    box-shadow: 0 0 10px black;

    top: auto;
    left: auto;
    bottom: 0;
    right: 0;

    box-sizing: border-box;
    z-index: 10;
}

.ckeditor-wrapper {
    position: relative;
    top: auto;
    width: 100%;
    height: 90%;
}

.reply-btn-wrapper {
    position: relative;
    height: 10%;
}

.reply-btn-wrapper ul {
    list-style: none;
}

.reply-btn-wrapper li {
    cursor: pointer;
    color: grey;
    display: inline;
    margin-right: 10px;
}

.reply-btn-wrapper li a:hover {
    text-shadow: 0 0 1px grey;
}

.reply-box .error_msg {
    cursor: auto;
    color: red;
    opacity: 0;
    font-size: 16px;
}